/*
Dex Aggregator API

Dex Aggregator API ⚡️

API version: 1.0
Contact: ai@sx.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// RankingAPIService RankingAPI service
type RankingAPIService service

type RankingAPIGetFinalStretchTokensRequest struct {
	ctx context.Context
	ApiService *RankingAPIService
	chain ChainSymbol
	sortBy *string
	sortDirection *string
	rangeFilters *[]FilterCondition
	tag *string
	filters *[]string
	launchpadPlatform *[]string
	searchKeywords *[]string
	excludeKeywords *[]string
}

// Sort field
func (r RankingAPIGetFinalStretchTokensRequest) SortBy(sortBy string) RankingAPIGetFinalStretchTokensRequest {
	r.sortBy = &sortBy
	return r
}

// Sort Direction
func (r RankingAPIGetFinalStretchTokensRequest) SortDirection(sortDirection string) RankingAPIGetFinalStretchTokensRequest {
	r.sortDirection = &sortDirection
	return r
}

// Filter field
func (r RankingAPIGetFinalStretchTokensRequest) RangeFilters(rangeFilters []FilterCondition) RankingAPIGetFinalStretchTokensRequest {
	r.rangeFilters = &rangeFilters
	return r
}

// Token tag filter for specific protocols or categories
func (r RankingAPIGetFinalStretchTokensRequest) Tag(tag string) RankingAPIGetFinalStretchTokensRequest {
	r.tag = &tag
	return r
}

// Filters
func (r RankingAPIGetFinalStretchTokensRequest) Filters(filters []string) RankingAPIGetFinalStretchTokensRequest {
	r.filters = &filters
	return r
}

// Launchpad Platform
func (r RankingAPIGetFinalStretchTokensRequest) LaunchpadPlatform(launchpadPlatform []string) RankingAPIGetFinalStretchTokensRequest {
	r.launchpadPlatform = &launchpadPlatform
	return r
}

// Search Keywords
func (r RankingAPIGetFinalStretchTokensRequest) SearchKeywords(searchKeywords []string) RankingAPIGetFinalStretchTokensRequest {
	r.searchKeywords = &searchKeywords
	return r
}

// Exclude Keywords
func (r RankingAPIGetFinalStretchTokensRequest) ExcludeKeywords(excludeKeywords []string) RankingAPIGetFinalStretchTokensRequest {
	r.excludeKeywords = &excludeKeywords
	return r
}

func (r RankingAPIGetFinalStretchTokensRequest) Execute() ([]Token, *http.Response, error) {
	return r.ApiService.GetFinalStretchTokensExecute(r)
}

/*
GetFinalStretchTokens Ranking - FinalStretch Tokens

Return the finalStretch tokens

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param chain A chain name listed in supported networks
 @return RankingAPIGetFinalStretchTokensRequest
*/
func (a *RankingAPIService) GetFinalStretchTokens(ctx context.Context, chain ChainSymbol) RankingAPIGetFinalStretchTokensRequest {
	return RankingAPIGetFinalStretchTokensRequest{
		ApiService: a,
		ctx: ctx,
		chain: chain,
	}
}

// Execute executes the request
//  @return []Token
func (a *RankingAPIService) GetFinalStretchTokensExecute(r RankingAPIGetFinalStretchTokensRequest) ([]Token, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []Token
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RankingAPIService.GetFinalStretchTokens")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ranking/{chain}/finalStretch"
	localVarPath = strings.Replace(localVarPath, "{"+"chain"+"}", url.PathEscape(parameterValueToString(r.chain, "chain")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", r.sortBy, "")
	}
	if r.sortDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortDirection", r.sortDirection, "")
	} else {
		var defaultValue string = "DESC"
		r.sortDirection = &defaultValue
	}
	if r.rangeFilters != nil {
		t := *r.rangeFilters
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "rangeFilters", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "rangeFilters", t, "multi")
		}
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "")
	}
	if r.filters != nil {
		t := *r.filters
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filters", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filters", t, "multi")
		}
	}
	if r.launchpadPlatform != nil {
		t := *r.launchpadPlatform
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "launchpadPlatform", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "launchpadPlatform", t, "multi")
		}
	}
	if r.searchKeywords != nil {
		t := *r.searchKeywords
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "searchKeywords", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "searchKeywords", t, "multi")
		}
	}
	if r.excludeKeywords != nil {
		t := *r.excludeKeywords
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "excludeKeywords", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "excludeKeywords", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RankingAPIGetHotTokensRequest struct {
	ctx context.Context
	ApiService *RankingAPIService
	chain ChainSymbol
	duration string
	sortBy *string
	sortDirection *string
	rangeFilters *[]FilterCondition
	tag *string
	filters *[]string
	launchpadPlatform *[]string
	searchKeywords *[]string
	excludeKeywords *[]string
}

// Sort field
func (r RankingAPIGetHotTokensRequest) SortBy(sortBy string) RankingAPIGetHotTokensRequest {
	r.sortBy = &sortBy
	return r
}

// Sort Direction
func (r RankingAPIGetHotTokensRequest) SortDirection(sortDirection string) RankingAPIGetHotTokensRequest {
	r.sortDirection = &sortDirection
	return r
}

// Filter field
func (r RankingAPIGetHotTokensRequest) RangeFilters(rangeFilters []FilterCondition) RankingAPIGetHotTokensRequest {
	r.rangeFilters = &rangeFilters
	return r
}

// Token tag filter for specific protocols or categories
func (r RankingAPIGetHotTokensRequest) Tag(tag string) RankingAPIGetHotTokensRequest {
	r.tag = &tag
	return r
}

// Filters
func (r RankingAPIGetHotTokensRequest) Filters(filters []string) RankingAPIGetHotTokensRequest {
	r.filters = &filters
	return r
}

// Launchpad Platform
func (r RankingAPIGetHotTokensRequest) LaunchpadPlatform(launchpadPlatform []string) RankingAPIGetHotTokensRequest {
	r.launchpadPlatform = &launchpadPlatform
	return r
}

// Search Keywords
func (r RankingAPIGetHotTokensRequest) SearchKeywords(searchKeywords []string) RankingAPIGetHotTokensRequest {
	r.searchKeywords = &searchKeywords
	return r
}

// Exclude Keywords
func (r RankingAPIGetHotTokensRequest) ExcludeKeywords(excludeKeywords []string) RankingAPIGetHotTokensRequest {
	r.excludeKeywords = &excludeKeywords
	return r
}

func (r RankingAPIGetHotTokensRequest) Execute() ([]Token, *http.Response, error) {
	return r.ApiService.GetHotTokensExecute(r)
}

/*
GetHotTokens Ranking - Hot Tokens

Retrieve a list of trending tokens

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param chain A chain name listed in supported networks
 @param duration Duration of the ranking
 @return RankingAPIGetHotTokensRequest
*/
func (a *RankingAPIService) GetHotTokens(ctx context.Context, chain ChainSymbol, duration string) RankingAPIGetHotTokensRequest {
	return RankingAPIGetHotTokensRequest{
		ApiService: a,
		ctx: ctx,
		chain: chain,
		duration: duration,
	}
}

// Execute executes the request
//  @return []Token
func (a *RankingAPIService) GetHotTokensExecute(r RankingAPIGetHotTokensRequest) ([]Token, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []Token
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RankingAPIService.GetHotTokens")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ranking/{chain}/hotTokens/{duration}"
	localVarPath = strings.Replace(localVarPath, "{"+"chain"+"}", url.PathEscape(parameterValueToString(r.chain, "chain")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"duration"+"}", url.PathEscape(parameterValueToString(r.duration, "duration")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", r.sortBy, "")
	}
	if r.sortDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortDirection", r.sortDirection, "")
	} else {
		var defaultValue string = "DESC"
		r.sortDirection = &defaultValue
	}
	if r.rangeFilters != nil {
		t := *r.rangeFilters
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "rangeFilters", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "rangeFilters", t, "multi")
		}
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "")
	}
	if r.filters != nil {
		t := *r.filters
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filters", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filters", t, "multi")
		}
	}
	if r.launchpadPlatform != nil {
		t := *r.launchpadPlatform
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "launchpadPlatform", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "launchpadPlatform", t, "multi")
		}
	}
	if r.searchKeywords != nil {
		t := *r.searchKeywords
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "searchKeywords", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "searchKeywords", t, "multi")
		}
	}
	if r.excludeKeywords != nil {
		t := *r.excludeKeywords
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "excludeKeywords", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "excludeKeywords", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RankingAPIGetMigratedTokensRequest struct {
	ctx context.Context
	ApiService *RankingAPIService
	chain ChainSymbol
	sortBy *string
	sortDirection *string
	rangeFilters *[]FilterCondition
	tag *string
	filters *[]string
	launchpadPlatform *[]string
	searchKeywords *[]string
	excludeKeywords *[]string
}

// Sort field
func (r RankingAPIGetMigratedTokensRequest) SortBy(sortBy string) RankingAPIGetMigratedTokensRequest {
	r.sortBy = &sortBy
	return r
}

// Sort Direction
func (r RankingAPIGetMigratedTokensRequest) SortDirection(sortDirection string) RankingAPIGetMigratedTokensRequest {
	r.sortDirection = &sortDirection
	return r
}

// Filter field
func (r RankingAPIGetMigratedTokensRequest) RangeFilters(rangeFilters []FilterCondition) RankingAPIGetMigratedTokensRequest {
	r.rangeFilters = &rangeFilters
	return r
}

// Token tag filter for specific protocols or categories
func (r RankingAPIGetMigratedTokensRequest) Tag(tag string) RankingAPIGetMigratedTokensRequest {
	r.tag = &tag
	return r
}

// Filters
func (r RankingAPIGetMigratedTokensRequest) Filters(filters []string) RankingAPIGetMigratedTokensRequest {
	r.filters = &filters
	return r
}

// Launchpad Platform
func (r RankingAPIGetMigratedTokensRequest) LaunchpadPlatform(launchpadPlatform []string) RankingAPIGetMigratedTokensRequest {
	r.launchpadPlatform = &launchpadPlatform
	return r
}

// Search Keywords
func (r RankingAPIGetMigratedTokensRequest) SearchKeywords(searchKeywords []string) RankingAPIGetMigratedTokensRequest {
	r.searchKeywords = &searchKeywords
	return r
}

// Exclude Keywords
func (r RankingAPIGetMigratedTokensRequest) ExcludeKeywords(excludeKeywords []string) RankingAPIGetMigratedTokensRequest {
	r.excludeKeywords = &excludeKeywords
	return r
}

func (r RankingAPIGetMigratedTokensRequest) Execute() ([]Token, *http.Response, error) {
	return r.ApiService.GetMigratedTokensExecute(r)
}

/*
GetMigratedTokens Ranking - Migrated Tokens

Return the migrated tokens

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param chain A chain name listed in supported networks
 @return RankingAPIGetMigratedTokensRequest
*/
func (a *RankingAPIService) GetMigratedTokens(ctx context.Context, chain ChainSymbol) RankingAPIGetMigratedTokensRequest {
	return RankingAPIGetMigratedTokensRequest{
		ApiService: a,
		ctx: ctx,
		chain: chain,
	}
}

// Execute executes the request
//  @return []Token
func (a *RankingAPIService) GetMigratedTokensExecute(r RankingAPIGetMigratedTokensRequest) ([]Token, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []Token
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RankingAPIService.GetMigratedTokens")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ranking/{chain}/migrated"
	localVarPath = strings.Replace(localVarPath, "{"+"chain"+"}", url.PathEscape(parameterValueToString(r.chain, "chain")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", r.sortBy, "")
	}
	if r.sortDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortDirection", r.sortDirection, "")
	} else {
		var defaultValue string = "DESC"
		r.sortDirection = &defaultValue
	}
	if r.rangeFilters != nil {
		t := *r.rangeFilters
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "rangeFilters", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "rangeFilters", t, "multi")
		}
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "")
	}
	if r.filters != nil {
		t := *r.filters
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filters", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filters", t, "multi")
		}
	}
	if r.launchpadPlatform != nil {
		t := *r.launchpadPlatform
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "launchpadPlatform", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "launchpadPlatform", t, "multi")
		}
	}
	if r.searchKeywords != nil {
		t := *r.searchKeywords
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "searchKeywords", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "searchKeywords", t, "multi")
		}
	}
	if r.excludeKeywords != nil {
		t := *r.excludeKeywords
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "excludeKeywords", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "excludeKeywords", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RankingAPIGetNewTokensRequest struct {
	ctx context.Context
	ApiService *RankingAPIService
	chain ChainSymbol
	sortBy *string
	sortDirection *string
	rangeFilters *[]FilterCondition
	tag *string
	filters *[]string
	launchpadPlatform *[]string
	searchKeywords *[]string
	excludeKeywords *[]string
}

// Sort field
func (r RankingAPIGetNewTokensRequest) SortBy(sortBy string) RankingAPIGetNewTokensRequest {
	r.sortBy = &sortBy
	return r
}

// Sort Direction
func (r RankingAPIGetNewTokensRequest) SortDirection(sortDirection string) RankingAPIGetNewTokensRequest {
	r.sortDirection = &sortDirection
	return r
}

// Filter field
func (r RankingAPIGetNewTokensRequest) RangeFilters(rangeFilters []FilterCondition) RankingAPIGetNewTokensRequest {
	r.rangeFilters = &rangeFilters
	return r
}

// Token tag filter for specific protocols or categories
func (r RankingAPIGetNewTokensRequest) Tag(tag string) RankingAPIGetNewTokensRequest {
	r.tag = &tag
	return r
}

// Filters
func (r RankingAPIGetNewTokensRequest) Filters(filters []string) RankingAPIGetNewTokensRequest {
	r.filters = &filters
	return r
}

// Launchpad Platform
func (r RankingAPIGetNewTokensRequest) LaunchpadPlatform(launchpadPlatform []string) RankingAPIGetNewTokensRequest {
	r.launchpadPlatform = &launchpadPlatform
	return r
}

// Search Keywords
func (r RankingAPIGetNewTokensRequest) SearchKeywords(searchKeywords []string) RankingAPIGetNewTokensRequest {
	r.searchKeywords = &searchKeywords
	return r
}

// Exclude Keywords
func (r RankingAPIGetNewTokensRequest) ExcludeKeywords(excludeKeywords []string) RankingAPIGetNewTokensRequest {
	r.excludeKeywords = &excludeKeywords
	return r
}

func (r RankingAPIGetNewTokensRequest) Execute() ([]Token, *http.Response, error) {
	return r.ApiService.GetNewTokensExecute(r)
}

/*
GetNewTokens Ranking - New Tokens

Return the latest 100 tokens

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param chain A chain name listed in supported networks
 @return RankingAPIGetNewTokensRequest
*/
func (a *RankingAPIService) GetNewTokens(ctx context.Context, chain ChainSymbol) RankingAPIGetNewTokensRequest {
	return RankingAPIGetNewTokensRequest{
		ApiService: a,
		ctx: ctx,
		chain: chain,
	}
}

// Execute executes the request
//  @return []Token
func (a *RankingAPIService) GetNewTokensExecute(r RankingAPIGetNewTokensRequest) ([]Token, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []Token
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RankingAPIService.GetNewTokens")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ranking/{chain}/newTokens"
	localVarPath = strings.Replace(localVarPath, "{"+"chain"+"}", url.PathEscape(parameterValueToString(r.chain, "chain")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", r.sortBy, "")
	}
	if r.sortDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortDirection", r.sortDirection, "")
	} else {
		var defaultValue string = "DESC"
		r.sortDirection = &defaultValue
	}
	if r.rangeFilters != nil {
		t := *r.rangeFilters
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "rangeFilters", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "rangeFilters", t, "multi")
		}
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "")
	}
	if r.filters != nil {
		t := *r.filters
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filters", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filters", t, "multi")
		}
	}
	if r.launchpadPlatform != nil {
		t := *r.launchpadPlatform
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "launchpadPlatform", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "launchpadPlatform", t, "multi")
		}
	}
	if r.searchKeywords != nil {
		t := *r.searchKeywords
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "searchKeywords", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "searchKeywords", t, "multi")
		}
	}
	if r.excludeKeywords != nil {
		t := *r.excludeKeywords
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "excludeKeywords", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "excludeKeywords", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RankingAPIGetStocksTokensRequest struct {
	ctx context.Context
	ApiService *RankingAPIService
	chain ChainSymbol
	sortBy *string
	sortDirection *string
	rangeFilters *[]FilterCondition
	tag *string
	filters *[]string
	launchpadPlatform *[]string
	searchKeywords *[]string
	excludeKeywords *[]string
}

// Sort field
func (r RankingAPIGetStocksTokensRequest) SortBy(sortBy string) RankingAPIGetStocksTokensRequest {
	r.sortBy = &sortBy
	return r
}

// Sort Direction
func (r RankingAPIGetStocksTokensRequest) SortDirection(sortDirection string) RankingAPIGetStocksTokensRequest {
	r.sortDirection = &sortDirection
	return r
}

// Filter field
func (r RankingAPIGetStocksTokensRequest) RangeFilters(rangeFilters []FilterCondition) RankingAPIGetStocksTokensRequest {
	r.rangeFilters = &rangeFilters
	return r
}

// Token tag filter for specific protocols or categories
func (r RankingAPIGetStocksTokensRequest) Tag(tag string) RankingAPIGetStocksTokensRequest {
	r.tag = &tag
	return r
}

// Filters
func (r RankingAPIGetStocksTokensRequest) Filters(filters []string) RankingAPIGetStocksTokensRequest {
	r.filters = &filters
	return r
}

// Launchpad Platform
func (r RankingAPIGetStocksTokensRequest) LaunchpadPlatform(launchpadPlatform []string) RankingAPIGetStocksTokensRequest {
	r.launchpadPlatform = &launchpadPlatform
	return r
}

// Search Keywords
func (r RankingAPIGetStocksTokensRequest) SearchKeywords(searchKeywords []string) RankingAPIGetStocksTokensRequest {
	r.searchKeywords = &searchKeywords
	return r
}

// Exclude Keywords
func (r RankingAPIGetStocksTokensRequest) ExcludeKeywords(excludeKeywords []string) RankingAPIGetStocksTokensRequest {
	r.excludeKeywords = &excludeKeywords
	return r
}

func (r RankingAPIGetStocksTokensRequest) Execute() ([]Token, *http.Response, error) {
	return r.ApiService.GetStocksTokensExecute(r)
}

/*
GetStocksTokens Ranking - Stocks Tokens

Return the stocks tokens

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param chain A chain name listed in supported networks
 @return RankingAPIGetStocksTokensRequest
*/
func (a *RankingAPIService) GetStocksTokens(ctx context.Context, chain ChainSymbol) RankingAPIGetStocksTokensRequest {
	return RankingAPIGetStocksTokensRequest{
		ApiService: a,
		ctx: ctx,
		chain: chain,
	}
}

// Execute executes the request
//  @return []Token
func (a *RankingAPIService) GetStocksTokensExecute(r RankingAPIGetStocksTokensRequest) ([]Token, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []Token
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RankingAPIService.GetStocksTokens")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/ranking/{chain}/stocks"
	localVarPath = strings.Replace(localVarPath, "{"+"chain"+"}", url.PathEscape(parameterValueToString(r.chain, "chain")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", r.sortBy, "")
	}
	if r.sortDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortDirection", r.sortDirection, "")
	} else {
		var defaultValue string = "DESC"
		r.sortDirection = &defaultValue
	}
	if r.rangeFilters != nil {
		t := *r.rangeFilters
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "rangeFilters", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "rangeFilters", t, "multi")
		}
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "")
	}
	if r.filters != nil {
		t := *r.filters
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filters", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filters", t, "multi")
		}
	}
	if r.launchpadPlatform != nil {
		t := *r.launchpadPlatform
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "launchpadPlatform", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "launchpadPlatform", t, "multi")
		}
	}
	if r.searchKeywords != nil {
		t := *r.searchKeywords
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "searchKeywords", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "searchKeywords", t, "multi")
		}
	}
	if r.excludeKeywords != nil {
		t := *r.excludeKeywords
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "excludeKeywords", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "excludeKeywords", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
