/*
Dex Aggregator API

Dex Aggregator API ⚡️

API version: 1.0
Contact: ai@sx.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// RedPacketAPIService RedPacketAPI service
type RedPacketAPIService service

type RedPacketAPIClaimRedpacketRequest struct {
	ctx context.Context
	ApiService *RedPacketAPIService
	chain ChainSymbol
	claimRedPacketInput *ClaimRedPacketInput
}

func (r RedPacketAPIClaimRedpacketRequest) ClaimRedPacketInput(claimRedPacketInput ClaimRedPacketInput) RedPacketAPIClaimRedpacketRequest {
	r.claimRedPacketInput = &claimRedPacketInput
	return r
}

func (r RedPacketAPIClaimRedpacketRequest) Execute() (*RedPacketReply, *http.Response, error) {
	return r.ApiService.ClaimRedpacketExecute(r)
}

/*
ClaimRedpacket RedPacket - Claim

Claim tokens from an existing red packet

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param chain A chain name listed in supported networks
 @return RedPacketAPIClaimRedpacketRequest
*/
func (a *RedPacketAPIService) ClaimRedpacket(ctx context.Context, chain ChainSymbol) RedPacketAPIClaimRedpacketRequest {
	return RedPacketAPIClaimRedpacketRequest{
		ApiService: a,
		ctx: ctx,
		chain: chain,
	}
}

// Execute executes the request
//  @return RedPacketReply
func (a *RedPacketAPIService) ClaimRedpacketExecute(r RedPacketAPIClaimRedpacketRequest) (*RedPacketReply, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RedPacketReply
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RedPacketAPIService.ClaimRedpacket")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/redpacket/{chain}/claim"
	localVarPath = strings.Replace(localVarPath, "{"+"chain"+"}", url.PathEscape(parameterValueToString(r.chain, "chain")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.claimRedPacketInput == nil {
		return localVarReturnValue, nil, reportError("claimRedPacketInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.claimRedPacketInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RedPacketAPICreateRedpacketRequest struct {
	ctx context.Context
	ApiService *RedPacketAPIService
	chain ChainSymbol
	createRedPacketInput *CreateRedPacketInput
}

func (r RedPacketAPICreateRedpacketRequest) CreateRedPacketInput(createRedPacketInput CreateRedPacketInput) RedPacketAPICreateRedpacketRequest {
	r.createRedPacketInput = &createRedPacketInput
	return r
}

func (r RedPacketAPICreateRedpacketRequest) Execute() (*CreateRedPacketReply, *http.Response, error) {
	return r.ApiService.CreateRedpacketExecute(r)
}

/*
CreateRedpacket RedPacket - Create

Create a new red packet with specified amount and quantity

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param chain A chain name listed in supported networks
 @return RedPacketAPICreateRedpacketRequest
*/
func (a *RedPacketAPIService) CreateRedpacket(ctx context.Context, chain ChainSymbol) RedPacketAPICreateRedpacketRequest {
	return RedPacketAPICreateRedpacketRequest{
		ApiService: a,
		ctx: ctx,
		chain: chain,
	}
}

// Execute executes the request
//  @return CreateRedPacketReply
func (a *RedPacketAPIService) CreateRedpacketExecute(r RedPacketAPICreateRedpacketRequest) (*CreateRedPacketReply, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateRedPacketReply
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RedPacketAPIService.CreateRedpacket")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/redpacket/{chain}/create"
	localVarPath = strings.Replace(localVarPath, "{"+"chain"+"}", url.PathEscape(parameterValueToString(r.chain, "chain")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createRedPacketInput == nil {
		return localVarReturnValue, nil, reportError("createRedPacketInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createRedPacketInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RedPacketAPIGetClaimsRequest struct {
	ctx context.Context
	ApiService *RedPacketAPIService
	id string
	cursor *string
	limit *int64
	direction *string
}

// Pagination cursor
func (r RedPacketAPIGetClaimsRequest) Cursor(cursor string) RedPacketAPIGetClaimsRequest {
	r.cursor = &cursor
	return r
}

// Number of records per page
func (r RedPacketAPIGetClaimsRequest) Limit(limit int64) RedPacketAPIGetClaimsRequest {
	r.limit = &limit
	return r
}

// Sort direction
func (r RedPacketAPIGetClaimsRequest) Direction(direction string) RedPacketAPIGetClaimsRequest {
	r.direction = &direction
	return r
}

func (r RedPacketAPIGetClaimsRequest) Execute() (*RedPacketClaimsPage, *http.Response, error) {
	return r.ApiService.GetClaimsExecute(r)
}

/*
GetClaims RedPacket - GetClaims

Check the record of redpacket collection

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Redpacket id
 @return RedPacketAPIGetClaimsRequest
*/
func (a *RedPacketAPIService) GetClaims(ctx context.Context, id string) RedPacketAPIGetClaimsRequest {
	return RedPacketAPIGetClaimsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return RedPacketClaimsPage
func (a *RedPacketAPIService) GetClaimsExecute(r RedPacketAPIGetClaimsRequest) (*RedPacketClaimsPage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RedPacketClaimsPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RedPacketAPIService.GetClaims")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/redpacket/{id}/claims"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RedPacketAPIGetClaimsByAddressRequest struct {
	ctx context.Context
	ApiService *RedPacketAPIService
	address string
	cursor *string
	limit *int64
	direction *string
}

// Pagination cursor
func (r RedPacketAPIGetClaimsByAddressRequest) Cursor(cursor string) RedPacketAPIGetClaimsByAddressRequest {
	r.cursor = &cursor
	return r
}

// Number of records per page
func (r RedPacketAPIGetClaimsByAddressRequest) Limit(limit int64) RedPacketAPIGetClaimsByAddressRequest {
	r.limit = &limit
	return r
}

// Sort direction
func (r RedPacketAPIGetClaimsByAddressRequest) Direction(direction string) RedPacketAPIGetClaimsByAddressRequest {
	r.direction = &direction
	return r
}

func (r RedPacketAPIGetClaimsByAddressRequest) Execute() (*RedPacketClaimsPage, *http.Response, error) {
	return r.ApiService.GetClaimsByAddressExecute(r)
}

/*
GetClaimsByAddress RedPacket - GetClaimsByAddress

Check the record of redpacket collection by the claimer address

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param address
 @return RedPacketAPIGetClaimsByAddressRequest
*/
func (a *RedPacketAPIService) GetClaimsByAddress(ctx context.Context, address string) RedPacketAPIGetClaimsByAddressRequest {
	return RedPacketAPIGetClaimsByAddressRequest{
		ApiService: a,
		ctx: ctx,
		address: address,
	}
}

// Execute executes the request
//  @return RedPacketClaimsPage
func (a *RedPacketAPIService) GetClaimsByAddressExecute(r RedPacketAPIGetClaimsByAddressRequest) (*RedPacketClaimsPage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RedPacketClaimsPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RedPacketAPIService.GetClaimsByAddress")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/redpacket/wallet/{address}/claims"
	localVarPath = strings.Replace(localVarPath, "{"+"address"+"}", url.PathEscape(parameterValueToString(r.address, "address")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RedPacketAPIGetRedpacketRequest struct {
	ctx context.Context
	ApiService *RedPacketAPIService
	id string
}

func (r RedPacketAPIGetRedpacketRequest) Execute() (*RedPacketDTO, *http.Response, error) {
	return r.ApiService.GetRedpacketExecute(r)
}

/*
GetRedpacket RedPacket - Get

Query redpacket information

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Redpacket id
 @return RedPacketAPIGetRedpacketRequest
*/
func (a *RedPacketAPIService) GetRedpacket(ctx context.Context, id string) RedPacketAPIGetRedpacketRequest {
	return RedPacketAPIGetRedpacketRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return RedPacketDTO
func (a *RedPacketAPIService) GetRedpacketExecute(r RedPacketAPIGetRedpacketRequest) (*RedPacketDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RedPacketDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RedPacketAPIService.GetRedpacket")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/redpacket/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RedPacketAPIGetRedpacketsRequest struct {
	ctx context.Context
	ApiService *RedPacketAPIService
	cursor *string
	limit *int64
	direction *string
	creator *string
	chain *string
}

// Pagination cursor
func (r RedPacketAPIGetRedpacketsRequest) Cursor(cursor string) RedPacketAPIGetRedpacketsRequest {
	r.cursor = &cursor
	return r
}

// Number of records per page
func (r RedPacketAPIGetRedpacketsRequest) Limit(limit int64) RedPacketAPIGetRedpacketsRequest {
	r.limit = &limit
	return r
}

// Sort direction
func (r RedPacketAPIGetRedpacketsRequest) Direction(direction string) RedPacketAPIGetRedpacketsRequest {
	r.direction = &direction
	return r
}

// Creator wallet address of the red packet
func (r RedPacketAPIGetRedpacketsRequest) Creator(creator string) RedPacketAPIGetRedpacketsRequest {
	r.creator = &creator
	return r
}

// Blockchain network
func (r RedPacketAPIGetRedpacketsRequest) Chain(chain string) RedPacketAPIGetRedpacketsRequest {
	r.chain = &chain
	return r
}

func (r RedPacketAPIGetRedpacketsRequest) Execute() (*RedPacketsPage, *http.Response, error) {
	return r.ApiService.GetRedpacketsExecute(r)
}

/*
GetRedpackets RedPacket - GetRedpackets

Get the redpackets list

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return RedPacketAPIGetRedpacketsRequest
*/
func (a *RedPacketAPIService) GetRedpackets(ctx context.Context) RedPacketAPIGetRedpacketsRequest {
	return RedPacketAPIGetRedpacketsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return RedPacketsPage
func (a *RedPacketAPIService) GetRedpacketsExecute(r RedPacketAPIGetRedpacketsRequest) (*RedPacketsPage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RedPacketsPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RedPacketAPIService.GetRedpackets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/redpacket"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "")
	}
	if r.creator != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "creator", r.creator, "")
	}
	if r.chain != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "chain", r.chain, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RedPacketAPIGetRedpacketsByAddressRequest struct {
	ctx context.Context
	ApiService *RedPacketAPIService
	address string
	cursor *string
	limit *int64
	direction *string
}

// Pagination cursor
func (r RedPacketAPIGetRedpacketsByAddressRequest) Cursor(cursor string) RedPacketAPIGetRedpacketsByAddressRequest {
	r.cursor = &cursor
	return r
}

// Number of records per page
func (r RedPacketAPIGetRedpacketsByAddressRequest) Limit(limit int64) RedPacketAPIGetRedpacketsByAddressRequest {
	r.limit = &limit
	return r
}

// Sort direction
func (r RedPacketAPIGetRedpacketsByAddressRequest) Direction(direction string) RedPacketAPIGetRedpacketsByAddressRequest {
	r.direction = &direction
	return r
}

func (r RedPacketAPIGetRedpacketsByAddressRequest) Execute() (*RedPacketsPage, *http.Response, error) {
	return r.ApiService.GetRedpacketsByAddressExecute(r)
}

/*
GetRedpacketsByAddress RedPacket - GetRedpacketsByAddress

Get the redpackets list by the creator address

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param address
 @return RedPacketAPIGetRedpacketsByAddressRequest
*/
func (a *RedPacketAPIService) GetRedpacketsByAddress(ctx context.Context, address string) RedPacketAPIGetRedpacketsByAddressRequest {
	return RedPacketAPIGetRedpacketsByAddressRequest{
		ApiService: a,
		ctx: ctx,
		address: address,
	}
}

// Execute executes the request
//  @return RedPacketsPage
func (a *RedPacketAPIService) GetRedpacketsByAddressExecute(r RedPacketAPIGetRedpacketsByAddressRequest) (*RedPacketsPage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RedPacketsPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RedPacketAPIService.GetRedpacketsByAddress")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/redpacket/wallet/{address}/redpackets"
	localVarPath = strings.Replace(localVarPath, "{"+"address"+"}", url.PathEscape(parameterValueToString(r.address, "address")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RedPacketAPIRedpacketSendRequest struct {
	ctx context.Context
	ApiService *RedPacketAPIService
	chain ChainSymbol
	redPacketSendTxInput *RedPacketSendTxInput
}

func (r RedPacketAPIRedpacketSendRequest) RedPacketSendTxInput(redPacketSendTxInput RedPacketSendTxInput) RedPacketAPIRedpacketSendRequest {
	r.redPacketSendTxInput = &redPacketSendTxInput
	return r
}

func (r RedPacketAPIRedpacketSendRequest) Execute() (*RedPacketSendTxResponse, *http.Response, error) {
	return r.ApiService.RedpacketSendExecute(r)
}

/*
RedpacketSend RedPacket - Send

Transactions related to redpacket

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param chain A chain name listed in supported networks
 @return RedPacketAPIRedpacketSendRequest
*/
func (a *RedPacketAPIService) RedpacketSend(ctx context.Context, chain ChainSymbol) RedPacketAPIRedpacketSendRequest {
	return RedPacketAPIRedpacketSendRequest{
		ApiService: a,
		ctx: ctx,
		chain: chain,
	}
}

// Execute executes the request
//  @return RedPacketSendTxResponse
func (a *RedPacketAPIService) RedpacketSendExecute(r RedPacketAPIRedpacketSendRequest) (*RedPacketSendTxResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RedPacketSendTxResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RedPacketAPIService.RedpacketSend")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/redpacket/{chain}/send"
	localVarPath = strings.Replace(localVarPath, "{"+"chain"+"}", url.PathEscape(parameterValueToString(r.chain, "chain")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.redPacketSendTxInput == nil {
		return localVarReturnValue, nil, reportError("redPacketSendTxInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.redPacketSendTxInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
