/*
Dex Aggregator API

Dex Aggregator API ⚡️

API version: 1.0
Contact: ai@sx.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// DexAPIService DexAPI service
type DexAPIService service

type DexAPICreateTokenRequest struct {
	ctx context.Context
	ApiService *DexAPIService
	chain ChainSymbol
	createTokenInput *CreateTokenInput
}

// Token creation parameters
func (r DexAPICreateTokenRequest) CreateTokenInput(createTokenInput CreateTokenInput) DexAPICreateTokenRequest {
	r.createTokenInput = &createTokenInput
	return r
}

func (r DexAPICreateTokenRequest) Execute() (*CreateTokenReply, *http.Response, error) {
	return r.ApiService.CreateTokenExecute(r)
}

/*
CreateToken CONTROLLER.DEX.CREATE.SUMMARY

CONTROLLER.DEX.CREATE.DESCRIPTION

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param chain GLOBAL.CHAIN.DESCRIPTION
 @return DexAPICreateTokenRequest
*/
func (a *DexAPIService) CreateToken(ctx context.Context, chain ChainSymbol) DexAPICreateTokenRequest {
	return DexAPICreateTokenRequest{
		ApiService: a,
		ctx: ctx,
		chain: chain,
	}
}

// Execute executes the request
//  @return CreateTokenReply
func (a *DexAPIService) CreateTokenExecute(r DexAPICreateTokenRequest) (*CreateTokenReply, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateTokenReply
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DexAPIService.CreateToken")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/dex/{chain}/create"
	localVarPath = strings.Replace(localVarPath, "{"+"chain"+"}", url.PathEscape(parameterValueToString(r.chain, "chain")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createTokenInput == nil {
		return localVarReturnValue, nil, reportError("createTokenInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createTokenInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DexAPIListDexRequest struct {
	ctx context.Context
	ApiService *DexAPIService
	chains *[]string
	limit *int64
	dexProgram *string
}

func (r DexAPIListDexRequest) Chains(chains []string) DexAPIListDexRequest {
	r.chains = &chains
	return r
}

// DTO.DEX.QUERY.LIMIT
func (r DexAPIListDexRequest) Limit(limit int64) DexAPIListDexRequest {
	r.limit = &limit
	return r
}

// DTO.DEX.QUERY.DEX_PROGRAM
func (r DexAPIListDexRequest) DexProgram(dexProgram string) DexAPIListDexRequest {
	r.dexProgram = &dexProgram
	return r
}

func (r DexAPIListDexRequest) Execute() (*DexPage, *http.Response, error) {
	return r.ApiService.ListDexExecute(r)
}

/*
ListDex CONTROLLER.DEX.LIST.SUMMARY

CONTROLLER.DEX.LIST.DESCRIPTION

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DexAPIListDexRequest
*/
func (a *DexAPIService) ListDex(ctx context.Context) DexAPIListDexRequest {
	return DexAPIListDexRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DexPage
func (a *DexAPIService) ListDexExecute(r DexAPIListDexRequest) (*DexPage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DexPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DexAPIService.ListDex")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/dex"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.chains != nil {
		t := *r.chains
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "chains", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "chains", t, "multi")
		}
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	} else {
		var defaultValue int64 = 20
		r.limit = &defaultValue
	}
	if r.dexProgram != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dexProgram", r.dexProgram, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DexAPIQuoteRequest struct {
	ctx context.Context
	ApiService *DexAPIService
	chain ChainSymbol
	dex *string
	amount *string
	inputMint *string
	outputMint *string
	exactIn *bool
	slippage *int64
}

// DTO.DEX.QUOTE.DEX
func (r DexAPIQuoteRequest) Dex(dex string) DexAPIQuoteRequest {
	r.dex = &dex
	return r
}

// DTO.DEX.QUOTE.AMOUNT
func (r DexAPIQuoteRequest) Amount(amount string) DexAPIQuoteRequest {
	r.amount = &amount
	return r
}

// DTO.DEX.QUOTE.INPUT_MINT
func (r DexAPIQuoteRequest) InputMint(inputMint string) DexAPIQuoteRequest {
	r.inputMint = &inputMint
	return r
}

// DTO.DEX.QUOTE.OUTPUT_MINT
func (r DexAPIQuoteRequest) OutputMint(outputMint string) DexAPIQuoteRequest {
	r.outputMint = &outputMint
	return r
}

// DTO.DEX.QUOTE.EXACT_IN
func (r DexAPIQuoteRequest) ExactIn(exactIn bool) DexAPIQuoteRequest {
	r.exactIn = &exactIn
	return r
}

// DTO.DEX.QUOTE.SLIPPAGE
func (r DexAPIQuoteRequest) Slippage(slippage int64) DexAPIQuoteRequest {
	r.slippage = &slippage
	return r
}

func (r DexAPIQuoteRequest) Execute() (*QuoteResponse, *http.Response, error) {
	return r.ApiService.QuoteExecute(r)
}

/*
Quote CONTROLLER.DEX.QUOTE.SUMMARY

CONTROLLER.DEX.QUOTE.DESCRIPTION

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param chain GLOBAL.CHAIN.DESCRIPTION
 @return DexAPIQuoteRequest
*/
func (a *DexAPIService) Quote(ctx context.Context, chain ChainSymbol) DexAPIQuoteRequest {
	return DexAPIQuoteRequest{
		ApiService: a,
		ctx: ctx,
		chain: chain,
	}
}

// Execute executes the request
//  @return QuoteResponse
func (a *DexAPIService) QuoteExecute(r DexAPIQuoteRequest) (*QuoteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *QuoteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DexAPIService.Quote")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/dex/{chain}/quote"
	localVarPath = strings.Replace(localVarPath, "{"+"chain"+"}", url.PathEscape(parameterValueToString(r.chain, "chain")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dex == nil {
		return localVarReturnValue, nil, reportError("dex is required and must be specified")
	}
	if r.amount == nil {
		return localVarReturnValue, nil, reportError("amount is required and must be specified")
	}
	if r.inputMint == nil {
		return localVarReturnValue, nil, reportError("inputMint is required and must be specified")
	}
	if r.outputMint == nil {
		return localVarReturnValue, nil, reportError("outputMint is required and must be specified")
	}
	if r.exactIn == nil {
		return localVarReturnValue, nil, reportError("exactIn is required and must be specified")
	}
	if r.slippage == nil {
		return localVarReturnValue, nil, reportError("slippage is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "dex", r.dex, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "amount", r.amount, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "inputMint", r.inputMint, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "outputMint", r.outputMint, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "exactIn", r.exactIn, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "slippage", r.slippage, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DexAPIRouteRequest struct {
	ctx context.Context
	ApiService *DexAPIService
	chain ChainSymbol
	swapRouteInput *SwapRouteInput
}

func (r DexAPIRouteRequest) SwapRouteInput(swapRouteInput SwapRouteInput) DexAPIRouteRequest {
	r.swapRouteInput = &swapRouteInput
	return r
}

func (r DexAPIRouteRequest) Execute() (*SwapRouteResponse, *http.Response, error) {
	return r.ApiService.RouteExecute(r)
}

/*
Route CONTROLLER.DEX.ROUTE.SUMMARY

CONTROLLER.DEX.ROUTE.DESCRIPTION

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param chain GLOBAL.CHAIN.DESCRIPTION
 @return DexAPIRouteRequest
*/
func (a *DexAPIService) Route(ctx context.Context, chain ChainSymbol) DexAPIRouteRequest {
	return DexAPIRouteRequest{
		ApiService: a,
		ctx: ctx,
		chain: chain,
	}
}

// Execute executes the request
//  @return SwapRouteResponse
func (a *DexAPIService) RouteExecute(r DexAPIRouteRequest) (*SwapRouteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SwapRouteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DexAPIService.Route")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/dex/{chain}/route"
	localVarPath = strings.Replace(localVarPath, "{"+"chain"+"}", url.PathEscape(parameterValueToString(r.chain, "chain")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.swapRouteInput == nil {
		return localVarReturnValue, nil, reportError("swapRouteInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.swapRouteInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DexAPISwapRequest struct {
	ctx context.Context
	ApiService *DexAPIService
	chain ChainSymbol
	swapInput *SwapInput
}

func (r DexAPISwapRequest) SwapInput(swapInput SwapInput) DexAPISwapRequest {
	r.swapInput = &swapInput
	return r
}

func (r DexAPISwapRequest) Execute() (*SwapReply, *http.Response, error) {
	return r.ApiService.SwapExecute(r)
}

/*
Swap CONTROLLER.DEX.SWAP.SUMMARY

CONTROLLER.DEX.SWAP.DESCRIPTION

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param chain GLOBAL.CHAIN.DESCRIPTION
 @return DexAPISwapRequest
*/
func (a *DexAPIService) Swap(ctx context.Context, chain ChainSymbol) DexAPISwapRequest {
	return DexAPISwapRequest{
		ApiService: a,
		ctx: ctx,
		chain: chain,
	}
}

// Execute executes the request
//  @return SwapReply
func (a *DexAPIService) SwapExecute(r DexAPISwapRequest) (*SwapReply, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SwapReply
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DexAPIService.Swap")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/dex/{chain}/swap"
	localVarPath = strings.Replace(localVarPath, "{"+"chain"+"}", url.PathEscape(parameterValueToString(r.chain, "chain")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.swapInput == nil {
		return localVarReturnValue, nil, reportError("swapInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.swapInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
