/*
Dex Aggregator API

Dex Aggregator API ⚡️

API version: 1.0
Contact: ai@sx.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// WatchlistAPIService WatchlistAPI service
type WatchlistAPIService service

type WatchlistAPIWatchlistAddRequest struct {
	ctx context.Context
	ApiService *WatchlistAPIService
	chain string
	walletAddress string
}

func (r WatchlistAPIWatchlistAddRequest) Execute() (*BooleanResultDTO, *http.Response, error) {
	return r.ApiService.WatchlistAddExecute(r)
}

/*
WatchlistAdd CONTROLLER.WATCHLIST.ADD.SUMMARY

CONTROLLER.WATCHLIST.ADD.DESCRIPTION

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param chain GLOBAL.CHAIN.DESCRIPTION
 @param walletAddress GLOBAL.WALLETADDRESS.DESCRIPTION
 @return WatchlistAPIWatchlistAddRequest
*/
func (a *WatchlistAPIService) WatchlistAdd(ctx context.Context, chain string, walletAddress string) WatchlistAPIWatchlistAddRequest {
	return WatchlistAPIWatchlistAddRequest{
		ApiService: a,
		ctx: ctx,
		chain: chain,
		walletAddress: walletAddress,
	}
}

// Execute executes the request
//  @return BooleanResultDTO
func (a *WatchlistAPIService) WatchlistAddExecute(r WatchlistAPIWatchlistAddRequest) (*BooleanResultDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BooleanResultDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WatchlistAPIService.WatchlistAdd")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/watchlist/{chain}/{walletAddress}"
	localVarPath = strings.Replace(localVarPath, "{"+"chain"+"}", url.PathEscape(parameterValueToString(r.chain, "chain")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"walletAddress"+"}", url.PathEscape(parameterValueToString(r.walletAddress, "walletAddress")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
