/*
Dex Aggregator API

Dex Aggregator API ⚡️

API version: 1.0
Contact: ai@sx.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// DefiSolanaPumpfunAPIService DefiSolanaPumpfunAPI service
type DefiSolanaPumpfunAPIService service

type DefiSolanaPumpfunAPIPumpfunCreateTokenRequest struct {
	ctx context.Context
	ApiService *DefiSolanaPumpfunAPIService
	pumpCreateTokenInput *PumpCreateTokenInput
}

// Required parameters for minting token
func (r DefiSolanaPumpfunAPIPumpfunCreateTokenRequest) PumpCreateTokenInput(pumpCreateTokenInput PumpCreateTokenInput) DefiSolanaPumpfunAPIPumpfunCreateTokenRequest {
	r.pumpCreateTokenInput = &pumpCreateTokenInput
	return r
}

func (r DefiSolanaPumpfunAPIPumpfunCreateTokenRequest) Execute() (*PumpCreateTokenReply, *http.Response, error) {
	return r.ApiService.PumpfunCreateTokenExecute(r)
}

/*
PumpfunCreateToken PumpFun - Create Token

Create a new token with PumpFun protocol

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DefiSolanaPumpfunAPIPumpfunCreateTokenRequest
*/
func (a *DefiSolanaPumpfunAPIService) PumpfunCreateToken(ctx context.Context) DefiSolanaPumpfunAPIPumpfunCreateTokenRequest {
	return DefiSolanaPumpfunAPIPumpfunCreateTokenRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PumpCreateTokenReply
func (a *DefiSolanaPumpfunAPIService) PumpfunCreateTokenExecute(r DefiSolanaPumpfunAPIPumpfunCreateTokenRequest) (*PumpCreateTokenReply, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PumpCreateTokenReply
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefiSolanaPumpfunAPIService.PumpfunCreateToken")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/solana/pumpfun/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.pumpCreateTokenInput == nil {
		return localVarReturnValue, nil, reportError("pumpCreateTokenInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.pumpCreateTokenInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
