/*
Dex Aggregator API

Dex Aggregator API ⚡️

API version: 1.0
Contact: ai@sx.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// TradeAPIService TradeAPI service
type TradeAPIService service

type TradeAPIGetActivitiesRequest struct {
	ctx context.Context
	ApiService *TradeAPIService
	chain ChainSymbol
	cursor *string
	limit *float32
	direction *string
	tokenAddress *string
	walletAddress *string
	poolAddress *string
	beforeTimestamp *int64
	afterTimestamp *int64
	beforeBlockHeight *int64
	afterBlockHeight *int64
	transactionsSignature *string
	type_ *string
}

// Pagination cursor
func (r TradeAPIGetActivitiesRequest) Cursor(cursor string) TradeAPIGetActivitiesRequest {
	r.cursor = &cursor
	return r
}

// Number of results per page
func (r TradeAPIGetActivitiesRequest) Limit(limit float32) TradeAPIGetActivitiesRequest {
	r.limit = &limit
	return r
}

// Pagination direction (next or prev)
func (r TradeAPIGetActivitiesRequest) Direction(direction string) TradeAPIGetActivitiesRequest {
	r.direction = &direction
	return r
}

// Token address to query trades
func (r TradeAPIGetActivitiesRequest) TokenAddress(tokenAddress string) TradeAPIGetActivitiesRequest {
	r.tokenAddress = &tokenAddress
	return r
}

// Wallet address to query trades
func (r TradeAPIGetActivitiesRequest) WalletAddress(walletAddress string) TradeAPIGetActivitiesRequest {
	r.walletAddress = &walletAddress
	return r
}

// Pool address to filter trades
func (r TradeAPIGetActivitiesRequest) PoolAddress(poolAddress string) TradeAPIGetActivitiesRequest {
	r.poolAddress = &poolAddress
	return r
}

// Start timestamp for filtering trades (Unix epoch in seconds)
func (r TradeAPIGetActivitiesRequest) BeforeTimestamp(beforeTimestamp int64) TradeAPIGetActivitiesRequest {
	r.beforeTimestamp = &beforeTimestamp
	return r
}

// End timestamp for filtering trades (Unix epoch in seconds)
func (r TradeAPIGetActivitiesRequest) AfterTimestamp(afterTimestamp int64) TradeAPIGetActivitiesRequest {
	r.afterTimestamp = &afterTimestamp
	return r
}

// Filter trades before this block height
func (r TradeAPIGetActivitiesRequest) BeforeBlockHeight(beforeBlockHeight int64) TradeAPIGetActivitiesRequest {
	r.beforeBlockHeight = &beforeBlockHeight
	return r
}

// Filter trades after this block height
func (r TradeAPIGetActivitiesRequest) AfterBlockHeight(afterBlockHeight int64) TradeAPIGetActivitiesRequest {
	r.afterBlockHeight = &afterBlockHeight
	return r
}

// Transaction signature/hash
func (r TradeAPIGetActivitiesRequest) TransactionsSignature(transactionsSignature string) TradeAPIGetActivitiesRequest {
	r.transactionsSignature = &transactionsSignature
	return r
}

// Activity type
func (r TradeAPIGetActivitiesRequest) Type_(type_ string) TradeAPIGetActivitiesRequest {
	r.type_ = &type_
	return r
}

func (r TradeAPIGetActivitiesRequest) Execute() (*TradePage, *http.Response, error) {
	return r.ApiService.GetActivitiesExecute(r)
}

/*
GetActivities Activity - List

Get token activities including trades, liquidity operations, and other token-related activities

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param chain A chain name listed in supported networks
 @return TradeAPIGetActivitiesRequest
*/
func (a *TradeAPIService) GetActivities(ctx context.Context, chain ChainSymbol) TradeAPIGetActivitiesRequest {
	return TradeAPIGetActivitiesRequest{
		ApiService: a,
		ctx: ctx,
		chain: chain,
	}
}

// Execute executes the request
//  @return TradePage
func (a *TradeAPIService) GetActivitiesExecute(r TradeAPIGetActivitiesRequest) (*TradePage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TradePage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TradeAPIService.GetActivities")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/trade/{chain}/activities"
	localVarPath = strings.Replace(localVarPath, "{"+"chain"+"}", url.PathEscape(parameterValueToString(r.chain, "chain")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	} else {
		var defaultValue float32 = 20
		r.limit = &defaultValue
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "")
	} else {
		var defaultValue string = "next"
		r.direction = &defaultValue
	}
	if r.tokenAddress != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tokenAddress", r.tokenAddress, "")
	}
	if r.walletAddress != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "walletAddress", r.walletAddress, "")
	}
	if r.poolAddress != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "poolAddress", r.poolAddress, "")
	}
	if r.beforeTimestamp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "beforeTimestamp", r.beforeTimestamp, "")
	}
	if r.afterTimestamp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "afterTimestamp", r.afterTimestamp, "")
	}
	if r.beforeBlockHeight != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "beforeBlockHeight", r.beforeBlockHeight, "")
	}
	if r.afterBlockHeight != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "afterBlockHeight", r.afterBlockHeight, "")
	}
	if r.transactionsSignature != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transactionsSignature", r.transactionsSignature, "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TradeAPIGetTopTradersRequest struct {
	ctx context.Context
	ApiService *TradeAPIService
	chain ChainSymbol
	tokenAddress *string
	cursor *string
	limit *int64
	direction *string
	timeFrame *string
	sortType *string
	sortBy *string
}

// Token address to query trades
func (r TradeAPIGetTopTradersRequest) TokenAddress(tokenAddress string) TradeAPIGetTopTradersRequest {
	r.tokenAddress = &tokenAddress
	return r
}

// Pagination cursor
func (r TradeAPIGetTopTradersRequest) Cursor(cursor string) TradeAPIGetTopTradersRequest {
	r.cursor = &cursor
	return r
}

// Maximum number of top traders to return (max 10)
func (r TradeAPIGetTopTradersRequest) Limit(limit int64) TradeAPIGetTopTradersRequest {
	r.limit = &limit
	return r
}

// Pagination direction (next or prev)
func (r TradeAPIGetTopTradersRequest) Direction(direction string) TradeAPIGetTopTradersRequest {
	r.direction = &direction
	return r
}

// Time frame for filtering trades
func (r TradeAPIGetTopTradersRequest) TimeFrame(timeFrame string) TradeAPIGetTopTradersRequest {
	r.timeFrame = &timeFrame
	return r
}

// Sort type for trade results
func (r TradeAPIGetTopTradersRequest) SortType(sortType string) TradeAPIGetTopTradersRequest {
	r.sortType = &sortType
	return r
}

// Field to sort trades by
func (r TradeAPIGetTopTradersRequest) SortBy(sortBy string) TradeAPIGetTopTradersRequest {
	r.sortBy = &sortBy
	return r
}

func (r TradeAPIGetTopTradersRequest) Execute() (*TopTradersPage, *http.Response, error) {
	return r.ApiService.GetTopTradersExecute(r)
}

/*
GetTopTraders Trade - Top Traders

Get top traders for a specific token

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param chain A chain name listed in supported networks
 @return TradeAPIGetTopTradersRequest
*/
func (a *TradeAPIService) GetTopTraders(ctx context.Context, chain ChainSymbol) TradeAPIGetTopTradersRequest {
	return TradeAPIGetTopTradersRequest{
		ApiService: a,
		ctx: ctx,
		chain: chain,
	}
}

// Execute executes the request
//  @return TopTradersPage
func (a *TradeAPIService) GetTopTradersExecute(r TradeAPIGetTopTradersRequest) (*TopTradersPage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TopTradersPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TradeAPIService.GetTopTraders")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/trade/{chain}/top-traders"
	localVarPath = strings.Replace(localVarPath, "{"+"chain"+"}", url.PathEscape(parameterValueToString(r.chain, "chain")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tokenAddress == nil {
		return localVarReturnValue, nil, reportError("tokenAddress is required and must be specified")
	}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	} else {
		var defaultValue int64 = 20
		r.limit = &defaultValue
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "")
	} else {
		var defaultValue string = "next"
		r.direction = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "tokenAddress", r.tokenAddress, "")
	if r.timeFrame != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timeFrame", r.timeFrame, "")
	} else {
		var defaultValue string = "24h"
		r.timeFrame = &defaultValue
	}
	if r.sortType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortType", r.sortType, "")
	} else {
		var defaultValue string = "desc"
		r.sortType = &defaultValue
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", r.sortBy, "")
	} else {
		var defaultValue string = "tradeAmount"
		r.sortBy = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TradeAPIGetTradesRequest struct {
	ctx context.Context
	ApiService *TradeAPIService
	chain ChainSymbol
	cursor *string
	limit *float32
	direction *string
	tokenAddress *string
	walletAddress *string
	poolAddress *string
	beforeTimestamp *int64
	afterTimestamp *int64
	beforeBlockHeight *int64
	afterBlockHeight *int64
	transactionsSignature *string
	type_ *string
}

// Pagination cursor
func (r TradeAPIGetTradesRequest) Cursor(cursor string) TradeAPIGetTradesRequest {
	r.cursor = &cursor
	return r
}

// Number of results per page
func (r TradeAPIGetTradesRequest) Limit(limit float32) TradeAPIGetTradesRequest {
	r.limit = &limit
	return r
}

// Pagination direction (next or prev)
func (r TradeAPIGetTradesRequest) Direction(direction string) TradeAPIGetTradesRequest {
	r.direction = &direction
	return r
}

// Token address to query trades
func (r TradeAPIGetTradesRequest) TokenAddress(tokenAddress string) TradeAPIGetTradesRequest {
	r.tokenAddress = &tokenAddress
	return r
}

// Wallet address to query trades
func (r TradeAPIGetTradesRequest) WalletAddress(walletAddress string) TradeAPIGetTradesRequest {
	r.walletAddress = &walletAddress
	return r
}

// Pool address to filter trades
func (r TradeAPIGetTradesRequest) PoolAddress(poolAddress string) TradeAPIGetTradesRequest {
	r.poolAddress = &poolAddress
	return r
}

// Start timestamp for filtering trades (Unix epoch in seconds)
func (r TradeAPIGetTradesRequest) BeforeTimestamp(beforeTimestamp int64) TradeAPIGetTradesRequest {
	r.beforeTimestamp = &beforeTimestamp
	return r
}

// End timestamp for filtering trades (Unix epoch in seconds)
func (r TradeAPIGetTradesRequest) AfterTimestamp(afterTimestamp int64) TradeAPIGetTradesRequest {
	r.afterTimestamp = &afterTimestamp
	return r
}

// Filter trades before this block height
func (r TradeAPIGetTradesRequest) BeforeBlockHeight(beforeBlockHeight int64) TradeAPIGetTradesRequest {
	r.beforeBlockHeight = &beforeBlockHeight
	return r
}

// Filter trades after this block height
func (r TradeAPIGetTradesRequest) AfterBlockHeight(afterBlockHeight int64) TradeAPIGetTradesRequest {
	r.afterBlockHeight = &afterBlockHeight
	return r
}

// Transaction signature/hash
func (r TradeAPIGetTradesRequest) TransactionsSignature(transactionsSignature string) TradeAPIGetTradesRequest {
	r.transactionsSignature = &transactionsSignature
	return r
}

// Trade type
func (r TradeAPIGetTradesRequest) Type_(type_ string) TradeAPIGetTradesRequest {
	r.type_ = &type_
	return r
}

func (r TradeAPIGetTradesRequest) Execute() (*TradePage, *http.Response, error) {
	return r.ApiService.GetTradesExecute(r)
}

/*
GetTrades Trade - List

Retrieve a list of transactions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param chain A chain name listed in supported networks
 @return TradeAPIGetTradesRequest
*/
func (a *TradeAPIService) GetTrades(ctx context.Context, chain ChainSymbol) TradeAPIGetTradesRequest {
	return TradeAPIGetTradesRequest{
		ApiService: a,
		ctx: ctx,
		chain: chain,
	}
}

// Execute executes the request
//  @return TradePage
func (a *TradeAPIService) GetTradesExecute(r TradeAPIGetTradesRequest) (*TradePage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TradePage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TradeAPIService.GetTrades")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/trade/{chain}"
	localVarPath = strings.Replace(localVarPath, "{"+"chain"+"}", url.PathEscape(parameterValueToString(r.chain, "chain")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	} else {
		var defaultValue float32 = 20
		r.limit = &defaultValue
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "")
	} else {
		var defaultValue string = "next"
		r.direction = &defaultValue
	}
	if r.tokenAddress != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tokenAddress", r.tokenAddress, "")
	}
	if r.walletAddress != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "walletAddress", r.walletAddress, "")
	}
	if r.poolAddress != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "poolAddress", r.poolAddress, "")
	}
	if r.beforeTimestamp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "beforeTimestamp", r.beforeTimestamp, "")
	}
	if r.afterTimestamp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "afterTimestamp", r.afterTimestamp, "")
	}
	if r.beforeBlockHeight != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "beforeBlockHeight", r.beforeBlockHeight, "")
	}
	if r.afterBlockHeight != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "afterBlockHeight", r.afterBlockHeight, "")
	}
	if r.transactionsSignature != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transactionsSignature", r.transactionsSignature, "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
