openapi: 3.1.0
info:
  contact:
    email: ai@sx.ai
    name: AI
    url: https://github.com/chainstream-io/dex
  description: Dex Aggregator API ⚡️
  title: Dex Aggregator API
  version: "1.0"
servers:
- url: https://api-dex.chainstream.io
tags:
- description: ""
  name: Endpoints
paths:
  /jobs/{id}:
    get:
      description: Retrieve the current status and result of a job by its ID
      operationId: get
      parameters:
      - description: Job identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobDTO"
          description: Job status retrieved successfully
      security:
      - bearer: []
      summary: Job - Get
      tags:
      - Jobs
  /jobs/{id}/streaming:
    get:
      description: Subscribe to real-time job status updates via Server-Sent Events
        (SSE). The connection will remain open until the job completes or an error
        occurs
      operationId: streaming
      parameters:
      - description: Job identifier
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: "12345"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobStreamingDTO"
          description: SSE stream established successfully
      security:
      - bearer: []
      summary: Job - Streaming
      tags:
      - Jobs
  /v1/ipfs/presign:
    post:
      description: Create a Presign URL for IPFS content
      operationId: presign
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: ""
      security:
      - bearer: []
      summary: IPFS - Presign
      tags:
      - Ipfs
  /v1/blockchain:
    get:
      description: Get list of supported blockchains
      operationId: get.supported.blockchains
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BlockchainDTO"
                type: array
          description: ""
      security:
      - bearer: []
      summary: Blockchain - List
      tags:
      - Blockchain
  /v1/blockchain/{chain}/latest_block:
    get:
      description: Get the latest block information for a specific blockchain
      operationId: get.latest.block
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlockchainLatestBlockDTO"
          description: ""
      security:
      - bearer: []
      summary: Blockchain - Latest Block
      tags:
      - Blockchain
  /v1/transaction/{chain}/send:
    post:
      description: Submit a signed transaction to the blockchain
      operationId: send
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          example:
            SOLANA: sol
            BASE: base
            BSC: bsc
            POLYGON: polygon
            ARBITRUM: arbitrum
            OPTIMISM: optimism
            AVALANCHE: avalanche
            ETHEREUM: eth
            ZKSYNC: zksync
            SUI: sui
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendTxInput"
        description: Transaction parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendTxResponse"
          description: ""
      security:
      - bearer: []
      summary: Transaction - Send
      tags:
      - Transaction
  /v1/transaction/{chain}/gas-price:
    get:
      description: Get the current gas price for the specified chain
      operationId: get.gasPrice
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          enum:
          - base
          - bsc
          - polygon
          - arbitrum
          - optimism
          - avalanche
          - eth
          - zksync
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GasPriceResponse"
          description: ""
      security:
      - bearer: []
      summary: Transaction - Get Gas Price
      tags:
      - Transaction
  /v1/transaction/{chain}/estimate-gas-limit:
    post:
      description: Estimate the gas limit required for a transaction
      operationId: estimate.gasLimit
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          enum:
          - base
          - bsc
          - polygon
          - arbitrum
          - optimism
          - avalanche
          - eth
          - zksync
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EstimateGasLimitInput"
        description: Transaction parameters for gas estimation
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EstimateGasLimitResponse"
          description: ""
      security:
      - bearer: []
      summary: Transaction - Estimate Gas Limit
      tags:
      - Transaction
  /v1/dex/{chain}/swap:
    post:
      description: "Swap parameters including input token, output token, amount and\
        \ slippage"
      operationId: swap
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SwapInput"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SwapReply"
          description: ""
      security:
      - bearer: []
      summary: Dex - Swap
      tags:
      - Dex
  /v1/dex/{chain}/route:
    post:
      description: Calculate the best route for token swap considering price impact
        and fees. Returns the optimal path and a prepared transaction.
      operationId: route
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SwapRouteInput"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SwapRouteResponse"
          description: ""
      security:
      - bearer: []
      summary: Dex - Route
      tags:
      - Dex
  /v1/dex/{chain}/quote:
    get:
      description: Get DEX trading quote information
      operationId: quote
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: DEX protocol type
        explode: true
        in: query
        name: dex
        required: true
        schema:
          enum:
          - raydium
          - pumpfun
          example: raydium
          type: string
        style: form
      - description: Trading amount
        explode: true
        in: query
        name: amount
        required: true
        schema:
          example: 1000000000
          type: string
        style: form
      - description: Input token address
        explode: true
        in: query
        name: inputMint
        required: true
        schema:
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
          type: string
        style: form
      - description: Output token address
        explode: true
        in: query
        name: outputMint
        required: true
        schema:
          example: So11111111111111111111111111111111111111112
          type: string
        style: form
      - description: Exact input mode
        explode: true
        in: query
        name: exactIn
        required: true
        schema:
          default: true
          example: true
          type: boolean
        style: form
      - description: Slippage tolerance
        explode: true
        in: query
        name: slippage
        required: true
        schema:
          example: 10
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteResponse"
          description: ""
      security:
      - bearer: []
      summary: Dex - Get Quote
      tags:
      - Dex
  /v1/dex/{chain}/create:
    post:
      description: Create a new token on the specified DEX
      operationId: create.token
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTokenInput"
        description: Token creation parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateTokenReply"
          description: ""
      security:
      - bearer: []
      summary: Dex - Create Token
      tags:
      - Dex
  /v1/dex:
    get:
      description: Obtain information about all DEXs on a specified blockchain.
      operationId: list.dex
      parameters:
      - explode: true
        in: query
        name: chains
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Number of results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int64
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: dex program address
        explode: true
        in: query
        name: dexProgram
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DexPage"
          description: ""
      security:
      - bearer: []
      summary: Dex - List
      tags:
      - Dex
  /v1/solana/moonshot/create:
    post:
      description: Create a new token with Moonshot protocol on Solana
      operationId: moonshot.create.token
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MoonshotCreateTokenInput"
        description: Token creation parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MoonshotCreateTokenReply"
          description: ""
      security:
      - bearer: []
      summary: Moonshot - Create Token
      tags:
      - Defi/solana/Moonshot
  /v1/solana/moonshot/submitCreateToken:
    post:
      description: Submit a signed token creation transaction to finalize token creation
        with Moonshot
      operationId: moonshot.submit.create.token
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MoonshotSubmitCreateTokenInput"
        description: Signed transaction and token details
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/moonshot_submit_create_token_200_response"
          description: Token creation transaction submitted successfully
      security:
      - bearer: []
      summary: Moonshot - Submit Create Token
      tags:
      - Defi/solana/Moonshot
  /v1/solana/pumpfun/create:
    post:
      description: Create a new token with PumpFun protocol
      operationId: pumpfun.create.token
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PumpCreateTokenInput"
        description: Required parameters for minting token
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PumpCreateTokenReply"
          description: ""
      security:
      - bearer: []
      summary: PumpFun - Create Token
      tags:
      - Defi/solana/Pumpfun
  /v1/trade/{chain}:
    get:
      description: Retrieve a list of transactions
      operationId: get.trades
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: number
        style: form
      - description: Pagination direction (next or prev)
        explode: true
        in: query
        name: direction
        required: false
        schema:
          default: next
          enum:
          - next
          - prev
          type: string
        style: form
      - description: Token address to query trades
        explode: true
        in: query
        name: tokenAddress
        required: false
        schema:
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
          type: string
        style: form
      - description: Wallet address to query trades
        explode: true
        in: query
        name: walletAddress
        required: false
        schema:
          example: 3xd4LGVWtYXLBspR6X5JWbW49NXmEehfPtX6Kqx98b4w
          type: string
        style: form
      - description: Pool address to filter trades
        explode: true
        in: query
        name: poolAddress
        required: false
        schema:
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
          type: string
        style: form
      - description: Start timestamp for filtering trades (Unix epoch in seconds)
        explode: true
        in: query
        name: beforeTimestamp
        required: false
        schema:
          example: 1717334400000
          format: int64
          type: integer
        style: form
      - description: End timestamp for filtering trades (Unix epoch in seconds)
        explode: true
        in: query
        name: afterTimestamp
        required: false
        schema:
          example: 1717334400000
          format: int64
          type: integer
        style: form
      - description: Filter trades before this block height
        explode: true
        in: query
        name: beforeBlockHeight
        required: false
        schema:
          example: 332417228
          format: int64
          type: integer
        style: form
      - description: Filter trades after this block height
        explode: true
        in: query
        name: afterBlockHeight
        required: false
        schema:
          example: 332417228
          format: int64
          type: integer
        style: form
      - description: Transaction signature/hash
        explode: true
        in: query
        name: transactionsSignature
        required: false
        schema:
          example: "37XpPt9Ak6JiE1V3sftJDtdUsvR9FVFRqkZmoT3dp4BTD9pgyTWn1XgHH6R7NjuJ4pBMAgj8JvZtxQrf4s6NTC5F,3QF8Fn4ReoEjQhfZHvJy8ykodBJRZktcP21j1bQ8aM6uFXQV1CuqUoPDLNGJpkUC6bLhghxWcf54VYzRaPM66GwH"
          type: string
        style: form
      - description: Trade type
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - BUY
          - SELL
          example: BUY
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradePage"
          description: ""
      security:
      - bearer: []
      summary: Trade - List
      tags:
      - Trade
  /v1/trade/{chain}/activities:
    get:
      description: "Get token activities including trades, liquidity operations, and\
        \ other token-related activities"
      operationId: get.activities
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: number
        style: form
      - description: Pagination direction (next or prev)
        explode: true
        in: query
        name: direction
        required: false
        schema:
          default: next
          enum:
          - next
          - prev
          type: string
        style: form
      - description: Token address to query trades
        explode: true
        in: query
        name: tokenAddress
        required: false
        schema:
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
          type: string
        style: form
      - description: Wallet address to query trades
        explode: true
        in: query
        name: walletAddress
        required: false
        schema:
          example: 3xd4LGVWtYXLBspR6X5JWbW49NXmEehfPtX6Kqx98b4w
          type: string
        style: form
      - description: Pool address to filter trades
        explode: true
        in: query
        name: poolAddress
        required: false
        schema:
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
          type: string
        style: form
      - description: Start timestamp for filtering trades (Unix epoch in seconds)
        explode: true
        in: query
        name: beforeTimestamp
        required: false
        schema:
          example: 1717334400000
          format: int64
          type: integer
        style: form
      - description: End timestamp for filtering trades (Unix epoch in seconds)
        explode: true
        in: query
        name: afterTimestamp
        required: false
        schema:
          example: 1717334400000
          format: int64
          type: integer
        style: form
      - description: Filter trades before this block height
        explode: true
        in: query
        name: beforeBlockHeight
        required: false
        schema:
          example: 332417228
          format: int64
          type: integer
        style: form
      - description: Filter trades after this block height
        explode: true
        in: query
        name: afterBlockHeight
        required: false
        schema:
          example: 332417228
          format: int64
          type: integer
        style: form
      - description: Transaction signature/hash
        explode: true
        in: query
        name: transactionsSignature
        required: false
        schema:
          example: "37XpPt9Ak6JiE1V3sftJDtdUsvR9FVFRqkZmoT3dp4BTD9pgyTWn1XgHH6R7NjuJ4pBMAgj8JvZtxQrf4s6NTC5F,3QF8Fn4ReoEjQhfZHvJy8ykodBJRZktcP21j1bQ8aM6uFXQV1CuqUoPDLNGJpkUC6bLhghxWcf54VYzRaPM66GwH"
          type: string
        style: form
      - description: Activity type
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - BUY
          - SELL
          - LIQUIDITY_INITIALIZE
          - LIQUIDITY_ADD
          - LIQUIDITY_REMOVE
          - RED_PACKET_CREATE
          - RED_PACKET_CLAIM
          - RED_PACKET_COMPLETE
          - RED_PACKET_REFUND
          example: BUY
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradePage"
          description: ""
      security:
      - bearer: []
      summary: Activity - List
      tags:
      - Trade
  /v1/trade/{chain}/top-traders:
    get:
      description: Get top traders for a specific token
      operationId: get.top.traders
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Maximum number of top traders to return (max 10)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int64
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Pagination direction (next or prev)
        explode: true
        in: query
        name: direction
        required: false
        schema:
          default: next
          enum:
          - next
          - prev
          type: string
        style: form
      - description: Token address to query trades
        explode: true
        in: query
        name: tokenAddress
        required: true
        schema:
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
          type: string
        style: form
      - description: Time frame for filtering trades
        explode: true
        in: query
        name: timeFrame
        required: false
        schema:
          default: 24h
          enum:
          - 30m
          - 1h
          - 2h
          - 4h
          - 6h
          - 8h
          - 12h
          - 24h
          example: 24h
          type: string
        style: form
      - description: Sort type for trade results
        explode: true
        in: query
        name: sortType
        required: false
        schema:
          default: desc
          enum:
          - desc
          - asc
          example: desc
          type: string
        style: form
      - description: Field to sort trades by
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          default: tradeAmount
          enum:
          - tradeAmount
          - tradeCount
          example: tradeAmount
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TopTradersPage"
          description: ""
      security:
      - bearer: []
      summary: Trade - Top Traders
      tags:
      - Trade
  /v1/token/search:
    get:
      description: Search token information by criteria
      operationId: search
      parameters:
      - description: Chain filter
        explode: true
        in: query
        name: chains
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Search query string for token name, symbol or address"
        explode: true
        in: query
        name: q
        required: false
        schema:
          example: USDC
          minLength: 1
          type: string
        style: form
      - description: Number of results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int64
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort direction
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: "Protocol filter, for supported protocols please check the dexName\
          \ values returned by DEX - List"
        explode: true
        in: query
        name: protocols
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Field to sort by
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          enum:
          - marketCapInUsd
          - liquidityInUsd
          - priceInUsd
          - holderCount
          - h24VolumeInUsd
          - h24Transactions
          - tokenCreatedAt
          example: priceInUsd
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenPage"
          description: ""
      security:
      - bearer: []
      summary: Token - Search
      tags:
      - Token
  /v1/token/{chain}/multi:
    get:
      description: Get detail of tokens
      operationId: get.tokens
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: "A list of token addresses in string separated by commas (,)"
        explode: true
        in: query
        name: tokenAddresses
        required: true
        schema:
          example: "6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
          type: string
        style: form
      - description: Sort field
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          enum:
          - marketData.priceInUsd
          - stats.priceChangeRatioInUsd1m
          - stats.priceChangeRatioInUsd5m
          - stats.priceChangeRatioInUsd1h
          - stats.priceChangeRatioInUsd4h
          - stats.priceChangeRatioInUsd24h
          - marketData.marketCapInUsd
          - marketData.maxPoolTvlInUsd
          - marketData.totalTvlInUsd
          - marketData.top10TotalHoldings
          - marketData.top10HoldingsRatio
          - marketData.top100TotalHoldings
          - marketData.top100HoldingsRatio
          - marketData.holders
          - marketData.creatorHoldings
          - marketData.creatorHoldingsRatio
          - stats.buys1m
          - stats.buys5m
          - stats.buys15m
          - stats.buys30m
          - stats.buys1h
          - stats.buys4h
          - stats.buys24h
          - stats.sells1m
          - stats.sells5m
          - stats.sells15m
          - stats.sells30m
          - stats.sells1h
          - stats.sells4h
          - stats.sells24h
          - stats.trades1m
          - stats.trades5m
          - stats.trades1h
          - stats.trades4h
          - stats.trades24h
          - stats.traders1m
          - stats.traders5m
          - stats.traders1h
          - stats.traders4h
          - stats.traders24h
          - stats.volumesInUsd1m
          - stats.volumesInUsd5m
          - stats.volumesInUsd1h
          - stats.volumesInUsd4h
          - stats.volumesInUsd24h
          - tokenCreatedAt
          example: marketData.marketCapInUsd
          type: string
        style: form
      - description: Sort Direction
        explode: true
        in: query
        name: sortDirection
        required: false
        schema:
          default: DESC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: Filter field
        explode: true
        in: query
        name: filterBy
        required: false
        schema:
          items:
            $ref: "#/components/schemas/FilterCondition"
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Token"
                type: array
          description: ""
      security:
      - bearer: []
      summary: Token - Detail (Multi)
      tags:
      - Token
  /v1/token/{chain}/{tokenAddress}:
    get:
      description: Get detail of token
      operationId: get.token
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: An address of a token
        explode: false
        in: path
        name: tokenAddress
        required: true
        schema:
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Token"
          description: ""
      security:
      - bearer: []
      summary: Token - Detail
      tags:
      - Token
  /v1/token/{chain}/{tokenAddress}/metadata:
    get:
      description: Get metadata of token
      operationId: get.metadata
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: An address of a token
        explode: false
        in: path
        name: tokenAddress
        required: true
        schema:
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenMetadata"
          description: ""
      security:
      - bearer: []
      summary: Token - Metadata
      tags:
      - Token
  /v1/token/{chain}/metadata/multi:
    get:
      description: Get metadata for multiple tokens
      operationId: get.metadata.multi
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: "A list of token addresses in string separated by commas (,)"
        explode: true
        in: query
        name: tokenAddresses
        required: true
        schema:
          example: "6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: "#/components/schemas/TokenMetadata"
                example:
                  "6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN":
                    metadataAddress: H7efTb73LpehuDBaPqZ81Gc585PDf1bCbtQnVb8JpgB8
                    address: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
                    chain: solana
                    symbol: TRUMP
                    updatedAt: 2025-05-09T22:23:42.095771831Z
                    tokenCreators: "[{\"address\":\"5e2qRc1DNEXmyxP8qwPwJhRWjef7usLyi7v5xjqLr5G7\"\
                      ,\"share\":100,\"isVerified\":true}]"
                    uri: https://arweave.net/cSCP0h2n1crjeSWE9KF-XtLciJalDNFs7Vf-Sm0NNY0
                    id: solana_6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
                    decimals: "6"
                    name: OFFICIAL TRUMP
                    imageUrl: https://arweave.net/VQrPjACwnQRmxdKBTqNwPiyo65x7LAT773t8Kd7YBzw
                    tokenCreatedAt: 1737165660000
                    extra: "{\"collectionAddress\":\"\",\"editionNonce\":255,\"fungible\"\
                      :true,\"isMutable\":false,\"key\":\"MetadataV1\",\"isNative\"\
                      :false,\"primarySaleHappened\":false,\"programAddress\":\"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA\"\
                      ,\"sellerFeeBasisPoints\":0,\"tokenStandard\":\"Fungible\",\"\
                      updateAuthority\":\"5e2qRc1DNEXmyxP8qwPwJhRWjef7usLyi7v5xjqLr5G7\"\
                      ,\"isVerifiedCollection\":false,\"isWrapped\":false}"
                  So11111111111111111111111111111111111111112:
                    address: So11111111111111111111111111111111111111112
                    chain: solana
                    symbol: WSOL
                    updatedAt: 2025-05-09T22:23:17.430130360Z
                    id: solana_So11111111111111111111111111111111111111112
                    decimals: "9"
                    name: Wrapped Solana
                    imageUrl: https://blockchains-pub.s3.ap-southeast-1.amazonaws.com/chains/sol/tokens/So11111111111111111111111111111111111111112/image.jpg
                    tokenCreatedAt: 1713733080000
                    extra: "{\"collectionAddress\":\"\",\"fungible\":true,\"isMutable\"\
                      :false,\"key\":\"\",\"isNative\":false,\"primarySaleHappened\"\
                      :false,\"programAddress\":\"\",\"sellerFeeBasisPoints\":0,\"\
                      updateAuthority\":\"NativeLoader1111111111111111111111111111111\"\
                      ,\"isVerifiedCollection\":false,\"isWrapped\":true}"
          description: Token metadata map
      security:
      - bearer: []
      summary: Token - Metadata (Multi)
      tags:
      - Token
  /v1/token/{chain}/{tokenAddress}/pools:
    get:
      description: Get all pools containing this token
      operationId: get.pools
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: An address of a token
        explode: false
        in: path
        name: tokenAddress
        required: true
        schema:
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
          type: string
        style: simple
      - description: Sort field (tvlInSol or tvlInUsd)
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          enum:
          - tvlInSol
          - tvlInUsd
          example: tvlInUsd
          type: string
        style: form
      - description: Sort direction (asc or desc)
        explode: true
        in: query
        name: sortDirection
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Minimum TVL in SOL
        explode: true
        in: query
        name: minTvlInSol
        required: false
        schema:
          example: "100"
          type: string
        style: form
      - description: Maximum TVL in SOL
        explode: true
        in: query
        name: maxTvlInSol
        required: false
        schema:
          example: "10000"
          type: string
        style: form
      - description: Minimum TVL in USD
        explode: true
        in: query
        name: minTvlInUsd
        required: false
        schema:
          example: "1000"
          type: string
        style: form
      - description: Maximum TVL in USD
        explode: true
        in: query
        name: maxTvlInUsd
        required: false
        schema:
          example: "100000"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/DexPoolDTO"
                type: array
          description: ""
      security:
      - bearer: []
      summary: Token - Liquidity
      tags:
      - Token
  /v1/token/{chain}/{tokenAddress}/stats:
    get:
      description: Get token statistics
      operationId: get.stats
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: An address of a token
        explode: false
        in: path
        name: tokenAddress
        required: true
        schema:
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenStat"
          description: ""
      security:
      - bearer: []
      summary: Token - Stats
      tags:
      - Token
  /v1/token/{chain}/stats/multi:
    get:
      description: Get statistics for multiple tokens
      operationId: get.stats.multi
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: "A list of token addresses in string separated by commas (,)"
        explode: true
        in: query
        name: tokenAddresses
        required: true
        schema:
          example: "6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: "#/components/schemas/TokenStat"
                example:
                  "6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN":
                    address: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
                    price1m: "8.815186948575488651564232229541279003943634814590943176562617079141599089428864712036116188352926061"
                    buys1m: "18"
                    sells1m: "5"
                    buyVolumes1m: "71.179564"
                    sellsVolumes1m: "136.479116"
                    volumes1m: "207.65868"
                    buyVolumesInUsd1m: "627.95199169441385373880839999999960265170"
                    sellVolumesInUsd1m: "1202.59809399999999999999999999999940081895"
                    volumesInUsd1m: "1830.5500856944138537388084"
                    buyers1m: "16"
                    sellers1m: "4"
                    openPriceInUsd1m: "8.80724392631485271869716116401174"
                    closePriceInUsd1m: "8.82200234176947023515322513427532"
                    priceChangeRatioInUsd1m: "0.0016757132626384252570734774"
                    trades1m: "23"
                    traders1m: "20"
                    highInUsd1m: "8.87704993659737154298787388843961"
                    lowInUsd1m: "8.80724392631485271869716116401174"
                    price5m: "8.808149102062442826882463193645238457760706376974261480540936502452775730456482037176098553638208242"
                    buys5m: "42"
                    sells5m: "12"
                    buyVolumes5m: "745.821284"
                    sellsVolumes5m: "650.499202"
                    volumes5m: "1396.320486"
                    buyVolumesInUsd5m: "6571.40690198722502862899507142783564462275"
                    sellVolumesInUsd5m: "5727.59213296506874175073979999999583030357"
                    volumesInUsd5m: "12298.9990349522937703797348714278"
                    buyers5m: "31"
                    sellers5m: "11"
                    openPriceInUsd5m: "8.79680608271458362809810591846652"
                    closePriceInUsd5m: "8.82200234176947023515322513427532"
                    priceChangeRatioInUsd5m: "0.0028642508221701482211700172"
                    trades5m: "54"
                    traders5m: "42"
                    highInUsd5m: "8.91057427723322225708444032971807"
                    lowInUsd5m: "8.79680608271458362809810591846652"
                    price15m: "8.833430098128582727092281824842165858026598125573650258853893550349470685835087287378212686676303632"
                    buys15m: "181"
                    sells15m: "149"
                    buyVolumes15m: "5804.508046"
                    sellsVolumes15m: "82008.108130"
                    volumes15m: "87812.616176"
                    buyVolumesInUsd15m: "51254.89909990121472947565271688641452701933"
                    sellVolumesInUsd15m: "724431.70762459003617954224769999955774440204"
                    volumesInUsd15m: "775686.606724491250909017900416886"
                    buyers15m: "77"
                    sellers15m: "45"
                    openPriceInUsd15m: "8.86827167531671047974646951231043"
                    closePriceInUsd15m: "8.82200234176947023515322513427532"
                    priceChangeRatioInUsd15m: "-0.0052174014555759354175647754"
                    trades15m: "330"
                    traders15m: "122"
                    highInUsd15m: "8.92106567388180657748944217210311"
                    lowInUsd15m: "8.71546900505871105901518478389985"
                    price30m: "8.849702635866604996668399970117801226191069158324451786094814549757247787198051664246225485204841829"
                    buys30m: "408"
                    sells30m: "301"
                    buyVolumes30m: "31503.341832"
                    sellsVolumes30m: "154703.754813"
                    volumes30m: "186207.096645"
                    buyVolumesInUsd30m: "278807.50699341613796372538502101514535170147"
                    sellVolumesInUsd30m: "1369069.92700290802197894727123222537960855845"
                    volumesInUsd30m: "1647877.4339963241599426726562532405"
                    buyers30m: "130"
                    sellers30m: "97"
                    openPriceInUsd30m: "8.88385885979973180604814958705650"
                    closePriceInUsd30m: "8.82200234176947023515322513427532"
                    priceChangeRatioInUsd30m: "-0.0069627983747206895574521368"
                    trades30m: "709"
                    traders30m: "227"
                    highInUsd30m: "9.20968712394705174488567990373044"
                    lowInUsd30m: "8.36905764083978412666666666666647"
                    price1h: "8.875440169735286379619813050042901852775954442495447856461882177041400309364018566602161245917438498"
                    buys1h: "937"
                    sells1h: "479"
                    buyVolumes1h: "257999.792353"
                    sellsVolumes1h: "318444.812376"
                    volumes1h: "576444.604729"
                    buyVolumesInUsd1h: "2293498.92403586328521316819508838646465909315"
                    sellVolumesInUsd1h: "2822700.67640308254045039237984046999035648366"
                    volumesInUsd1h: "5116199.6004389458256635605749288565"
                    buyers1h: "251"
                    sellers1h: "135"
                    openPriceInUsd1h: "8.81673245940448100236377699204366"
                    closePriceInUsd1h: "8.82200234176947023515322513427532"
                    priceChangeRatioInUsd1h: "0.0005977137663248525851768094"
                    trades1h: "1416"
                    traders1h: "386"
                    highInUsd1h: "9.20968712394705174488567990373044"
                    lowInUsd1h: "8.30103447641225972985422191576025"
                    price4h: "8.814603172747808167817431028429281316933146242936263494179110242799724853688414957477738479819418718"
                    buys4h: "3781"
                    sells4h: "1600"
                    buyVolumes4h: "1318403.654838"
                    sellsVolumes4h: "1172828.708232"
                    volumes4h: "2491232.36307"
                    buyVolumesInUsd4h: "11631328.41976456808178271203858436312813979841"
                    sellVolumesInUsd4h: "10327896.27180427348529215378670625571742536511"
                    volumesInUsd4h: "21959224.6915688415670748658252906188"
                    buyers4h: "652"
                    sellers4h: "347"
                    openPriceInUsd4h: "8.84347921005130192359950551972645"
                    closePriceInUsd4h: "8.82200234176947023515322513427532"
                    priceChangeRatioInUsd4h: "-0.0024285541664893108224962842"
                    trades4h: "5381"
                    traders4h: "999"
                    highInUsd4h: "9.26962320605334839017913096353471"
                    lowInUsd4h: "8.30103447641225972985422191576025"
                    price24h: "8.906202759617520479333641656883660067314362066058497134219935069287151055056646921304936356091739610"
                    buys24h: "21334"
                    sells24h: "9335"
                    buyVolumes24h: "5936708.767731"
                    sellsVolumes24h: "5975976.410999"
                    volumes24h: "11912685.17873"
                    buyVolumesInUsd24h: "52889082.27361861752422914476626376715579078635"
                    sellVolumesInUsd24h: "53207707.33964124365356097346637113020802056875"
                    volumesInUsd24h: "106096789.6132598611777901182326348974"
                    buyers24h: "2800"
                    sellers24h: "2112"
                    openPriceInUsd24h: "9.20705723016297054339156913498827"
                    closePriceInUsd24h: "8.82200234176947023515322513427532"
                    priceChangeRatioInUsd24h: "-0.0418217111904152464185428725"
                    trades24h: "30669"
                    traders24h: "4912"
                    highInUsd24h: "126.65970638348831984032039507296766"
                    lowInUsd24h: "4.38187777867482240000000000000000"
          description: Token stats map
      security:
      - bearer: []
      summary: Token - Stats (Multi)
      tags:
      - Token
  /v1/token/{chain}/{tokenAddress}/holders:
    get:
      description: Get holders of a token
      operationId: get.holders
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: An address of a token
        explode: false
        in: path
        name: tokenAddress
        required: true
        schema:
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
          type: string
        style: simple
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: number
        style: form
      - description: Pagination direction (next or prev)
        explode: true
        in: query
        name: direction
        required: false
        schema:
          default: next
          enum:
          - next
          - prev
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenHolderPage"
          description: ""
      security:
      - bearer: []
      summary: Token - Holders
      tags:
      - Token
  /v1/token/{chain}/{tokenAddress}/holders/multi:
    get:
      description: Get holders information for multiple wallet addresses
      operationId: get.holders.multi
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: An address of a token
        explode: false
        in: path
        name: tokenAddress
        required: true
        schema:
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
          type: string
        style: simple
      - description: "A list of wallet addresses in string separated by commas (,)"
        explode: true
        in: query
        name: walletAddresses
        required: true
        schema:
          example: "MJKqp326RZCHnAAbew9MDdui3iCKWco7fsK9sVuZTX2,2RH6rUTPBJ9rUDPpuV9b8z1YL56k1tYU6Uk5ZoaEFFSK"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/TokenHolder"
                type: array
          description: ""
      security:
      - bearer: []
      summary: Token - Holders (Multi)
      tags:
      - Token
  /v1/token/{chain}/{tokenAddress}/candles:
    get:
      description: Get token price candles
      operationId: get.candles
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: An address of a token
        explode: false
        in: path
        name: tokenAddress
        required: true
        schema:
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
          type: string
        style: simple
      - description: "Time resolution for candle data. Note: 1s resolution data is\
          \ only kept for the last 1 hour; 15s and 30s resolution data is kept for\
          \ the last 6 hours; 1m resolution data is kept for the last 12 hours; data\
          \ for other resolutions is stored permanently"
        explode: true
        in: query
        name: resolution
        required: true
        schema:
          $ref: "#/components/schemas/Resolution"
        style: form
      - description: Start timestamp (Unix epoch in milliseconds)
        explode: true
        in: query
        name: from
        required: false
        schema:
          example: 1741647950000
          format: int64
          type: integer
        style: form
      - description: End timestamp (Unix epoch in milliseconds)
        explode: true
        in: query
        name: to
        required: false
        schema:
          example: 1741700970000
          format: int64
          type: integer
        style: form
      - description: Number of results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 100
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Candle"
                type: array
          description: ""
      security:
      - bearer: []
      summary: Token - Candles
      tags:
      - Token
  /v1/token/{chain}/{tokenAddress}/topHolders:
    get:
      description: Get the top 20 holders for a token
      operationId: get.top.holders
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: An address of a token
        explode: false
        in: path
        name: tokenAddress
        required: true
        schema:
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenHolderPage"
          description: ""
      security:
      - bearer: []
      summary: Token - Top Holders
      tags:
      - Token
  /v1/token/{chain}/{tokenAddress}/marketData:
    get:
      description: Get the market data of a token
      operationId: get.marketData
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: An address of a token
        explode: false
        in: path
        name: tokenAddress
        required: true
        schema:
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenMarketData"
          description: ""
      security:
      - bearer: []
      summary: Token - Market Data
      tags:
      - Token
  /v1/token/{chain}/marketData/multi:
    get:
      description: Get market data for multiple tokens
      operationId: get.marketData.multi
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: "A list of token addresses in string separated by commas (,)"
        explode: true
        in: query
        name: tokenAddresses
        required: true
        schema:
          example: "6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: "#/components/schemas/TokenMarketData"
                example:
                  "6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN":
                    totalSupply: "999999329.55489600"
                    marketCapInSol: "52036822.7610601253815741043536094930639710771200"
                    marketCapInUsd: "8803187793.8278295862797957152143077481513221611200"
                    top10TotalHoldings: "922068292.28321100"
                    top10HoldingsRatio: "0.9220689104797975817945796252"
                    top100TotalHoldings: "983096178.40758900"
                    top100HoldingsRatio: "0.9830968375200504732013415907"
                    holders: "644128"
                    priceInSol: "0.05203685764891656364263510306272"
                    priceInUsd: "8.80319369588594255667492526316047"
                    maxPoolTvlInSol: "2014433.41314589805325129930935218249614969808"
                    maxPoolTvlInUsd: "336266445.59268312743854221899192252205319411642"
                    totalTvlInSol: "2514433.41314589805325129930935218249614969808"
                    totalTvlInUsd: "420266445.59268312743854221899192252205319411642"
                  So11111111111111111111111111111111111111112:
                    totalSupply: "10044681215.881224"
                    marketCapInSol: "10044681215.881224"
                    marketCapInUsd: "1687636765811.4456398255148000696"
                    top10TotalHoldings: "0.247650049000"
                    top10HoldingsRatio: "0.0000000000246548440590081544"
                    top100TotalHoldings: "0.247650049000"
                    top100HoldingsRatio: "0.0000000000246548440590081544"
                    holders: "23368703"
                    priceInSol: "1"
                    priceInUsd: "168.0129741841079"
                    maxPoolTvlInSol: "105112644905171226.33289713966106176370214271404616575084385744793118"
                    maxPoolTvlInUsd: "105112687635577198.33605721153961742088001836659648515085724677733850"
                    totalTvlInSol: "115112644905171226.33289713966106176370214271404616575084385744793118"
                    totalTvlInUsd: "115112687635577198.33605721153961742088001836659648515085724677733850"
          description: Token market data map
      security:
      - bearer: []
      summary: Token - Market Data (Multi)
      tags:
      - Token
  /v1/token/{chain}/{tokenAddress}/prices:
    get:
      description: Get historical price data for a token
      operationId: get.prices
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: An address of a token
        explode: false
        in: path
        name: tokenAddress
        required: true
        schema:
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
          type: string
        style: simple
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: number
        style: form
      - description: Pagination direction (next or prev)
        explode: true
        in: query
        name: direction
        required: false
        schema:
          default: next
          enum:
          - next
          - prev
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenPricePage"
          description: ""
      security:
      - bearer: []
      summary: Token - Prices
      tags:
      - Token
  /v1/token/{chain}/{tokenAddress}/price:
    get:
      description: Get token price at a specific timestamp
      operationId: get.price.by.time
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: An address of a token
        explode: false
        in: path
        name: tokenAddress
        required: true
        schema:
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
          type: string
        style: simple
      - description: Timestamp for price query (Unix epoch in seconds)
        explode: true
        in: query
        name: timestamp
        required: true
        schema:
          example: 1754055151
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenPriceDTO"
          description: ""
      security:
      - bearer: []
      summary: Token - Price by Time
      tags:
      - Token
  /v1/token/{chain}/{tokenAddress}/creation:
    get:
      description: Get token creation information
      operationId: get.creation
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: An address of a token
        explode: false
        in: path
        name: tokenAddress
        required: true
        schema:
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenCreationDTO"
          description: ""
      security:
      - bearer: []
      summary: Token - Creation
      tags:
      - Token
  /v1/token/{chain}/{tokenAddress}/mintAndBurn:
    get:
      description: Get mint and burn information for a token
      operationId: get.mint.and.burn
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: An address of a token
        explode: false
        in: path
        name: tokenAddress
        required: true
        schema:
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
          type: string
        style: simple
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: number
        style: form
      - description: Pagination direction (next or prev)
        explode: true
        in: query
        name: direction
        required: false
        schema:
          default: next
          enum:
          - next
          - prev
          type: string
        style: form
      - description: "Type of operation to filter (all, mint, or burn)"
        explode: true
        in: query
        name: type
        required: false
        schema:
          default: all
          enum:
          - all
          - mint
          - burn
          example: all
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenCreationPage"
          description: ""
      security:
      - bearer: []
      summary: Token - Mint and Burn
      tags:
      - Token
  /v1/token/{chain}/list:
    get:
      description: Get filtered token list with range conditions
      operationId: list.token
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: number
        style: form
      - description: Pagination direction (next or prev)
        explode: true
        in: query
        name: direction
        required: false
        schema:
          default: next
          enum:
          - next
          - prev
          type: string
        style: form
      - description: Sort direction
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Sort by field
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          enum:
          - h24VolumeInUsd
          - h24PriceChangeRatio
          - h24Buys
          - h24Sells
          - h24Trades
          - h24Buyers
          - h24Sellers
          - h24BuyVolumeInUsd
          - h24SellVolumeInUsd
          - h4VolumeInUsd
          - h4PriceChangeRatio
          - h4Buys
          - h4Sells
          - h4Trades
          - h4Buyers
          - h4Sellers
          - h4BuyVolumeInUsd
          - h4SellVolumeInUsd
          - h1VolumeInUsd
          - h1PriceChangeRatio
          - h1Buys
          - h1Sells
          - h1Trades
          - h1Buyers
          - h1Sellers
          - h1BuyVolumeInUsd
          - h1SellVolumeInUsd
          - m30VolumeInUsd
          - m30PriceChangeRatio
          - m30Buys
          - m30Sells
          - m30Trades
          - m30Buyers
          - m30Sellers
          - m30BuyVolumeInUsd
          - m30SellVolumeInUsd
          - m15VolumeInUsd
          - m15PriceChangeRatio
          - m15Buys
          - m15Sells
          - m15Trades
          - m15Buyers
          - m15Sellers
          - m15BuyVolumeInUsd
          - m15SellVolumeInUsd
          - m5VolumeInUsd
          - m5PriceChangeRatio
          - m5Buys
          - m5Sells
          - m5Trades
          - m5Buyers
          - m5Sellers
          - m5BuyVolumeInUsd
          - m5SellVolumeInUsd
          - m1VolumeInUsd
          - m1PriceChangeRatio
          - m1Buys
          - m1Sells
          - m1Trades
          - m1Buyers
          - m1Sellers
          - m1BuyVolumeInUsd
          - m1SellVolumeInUsd
          example: h24VolumeInUsd
          type: string
        style: form
      - description: Minimum 24h volume in USD
        explode: true
        in: query
        name: min_h24_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 24h volume in USD
        explode: true
        in: query
        name: max_h24_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 24h price change ratio
        explode: true
        in: query
        name: min_h24_price_change_ratio
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 24h price change ratio
        explode: true
        in: query
        name: max_h24_price_change_ratio
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 24h buys
        explode: true
        in: query
        name: min_h24_buys
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 24h buys
        explode: true
        in: query
        name: max_h24_buys
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 24h sells
        explode: true
        in: query
        name: min_h24_sells
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 24h sells
        explode: true
        in: query
        name: max_h24_sells
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 24h trades
        explode: true
        in: query
        name: min_h24_trades
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 24h trades
        explode: true
        in: query
        name: max_h24_trades
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 24h buyers
        explode: true
        in: query
        name: min_h24_buyers
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 24h buyers
        explode: true
        in: query
        name: max_h24_buyers
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 24h sellers
        explode: true
        in: query
        name: min_h24_sellers
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 24h sellers
        explode: true
        in: query
        name: max_h24_sellers
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 24h buy volume in USD
        explode: true
        in: query
        name: min_h24_buy_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 24h buy volume in USD
        explode: true
        in: query
        name: max_h24_buy_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 24h sell volume in USD
        explode: true
        in: query
        name: min_h24_sell_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 24h sell volume in USD
        explode: true
        in: query
        name: max_h24_sell_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 4h volume in USD
        explode: true
        in: query
        name: min_h4_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 4h volume in USD
        explode: true
        in: query
        name: max_h4_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 4h price change ratio
        explode: true
        in: query
        name: min_h4_price_change_ratio
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 4h price change ratio
        explode: true
        in: query
        name: max_h4_price_change_ratio
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 4h buys
        explode: true
        in: query
        name: min_h4_buys
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 4h buys
        explode: true
        in: query
        name: max_h4_buys
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 4h sells
        explode: true
        in: query
        name: min_h4_sells
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 4h sells
        explode: true
        in: query
        name: max_h4_sells
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 4h trades
        explode: true
        in: query
        name: min_h4_trades
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 4h trades
        explode: true
        in: query
        name: max_h4_trades
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 4h buyers
        explode: true
        in: query
        name: min_h4_buyers
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 4h buyers
        explode: true
        in: query
        name: max_h4_buyers
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 4h sellers
        explode: true
        in: query
        name: min_h4_sellers
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 4h sellers
        explode: true
        in: query
        name: max_h4_sellers
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 4h buy volume in USD
        explode: true
        in: query
        name: min_h4_buy_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 4h buy volume in USD
        explode: true
        in: query
        name: max_h4_buy_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 4h sell volume in USD
        explode: true
        in: query
        name: min_h4_sell_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 4h sell volume in USD
        explode: true
        in: query
        name: max_h4_sell_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 1h volume in USD
        explode: true
        in: query
        name: min_h1_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 1h volume in USD
        explode: true
        in: query
        name: max_h1_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 1h price change ratio
        explode: true
        in: query
        name: min_h1_price_change_ratio
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 1h price change ratio
        explode: true
        in: query
        name: max_h1_price_change_ratio
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 1h buys
        explode: true
        in: query
        name: min_h1_buys
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 1h buys
        explode: true
        in: query
        name: max_h1_buys
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 1h sells
        explode: true
        in: query
        name: min_h1_sells
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 1h sells
        explode: true
        in: query
        name: max_h1_sells
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 1h trades
        explode: true
        in: query
        name: min_h1_trades
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 1h trades
        explode: true
        in: query
        name: max_h1_trades
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 1h buyers
        explode: true
        in: query
        name: min_h1_buyers
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 1h buyers
        explode: true
        in: query
        name: max_h1_buyers
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 1h sellers
        explode: true
        in: query
        name: min_h1_sellers
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 1h sellers
        explode: true
        in: query
        name: max_h1_sellers
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 1h buy volume in USD
        explode: true
        in: query
        name: min_h1_buy_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 1h buy volume in USD
        explode: true
        in: query
        name: max_h1_buy_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 1h sell volume in USD
        explode: true
        in: query
        name: min_h1_sell_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 1h sell volume in USD
        explode: true
        in: query
        name: max_h1_sell_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 30m volume in USD
        explode: true
        in: query
        name: min_m30_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 30m volume in USD
        explode: true
        in: query
        name: max_m30_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 30m price change ratio
        explode: true
        in: query
        name: min_m30_price_change_ratio
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 30m price change ratio
        explode: true
        in: query
        name: max_m30_price_change_ratio
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 30m buys
        explode: true
        in: query
        name: min_m30_buys
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 30m buys
        explode: true
        in: query
        name: max_m30_buys
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 30m sells
        explode: true
        in: query
        name: min_m30_sells
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 30m sells
        explode: true
        in: query
        name: max_m30_sells
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 30m trades
        explode: true
        in: query
        name: min_m30_trades
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 30m trades
        explode: true
        in: query
        name: max_m30_trades
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 30m buyers
        explode: true
        in: query
        name: min_m30_buyers
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 30m buyers
        explode: true
        in: query
        name: max_m30_buyers
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 30m sellers
        explode: true
        in: query
        name: min_m30_sellers
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 30m sellers
        explode: true
        in: query
        name: max_m30_sellers
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 30m buy volume in USD
        explode: true
        in: query
        name: min_m30_buy_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 30m buy volume in USD
        explode: true
        in: query
        name: max_m30_buy_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 30m sell volume in USD
        explode: true
        in: query
        name: min_m30_sell_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 30m sell volume in USD
        explode: true
        in: query
        name: max_m30_sell_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 15m volume in USD
        explode: true
        in: query
        name: min_m15_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 15m volume in USD
        explode: true
        in: query
        name: max_m15_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 15m price change ratio
        explode: true
        in: query
        name: min_m15_price_change_ratio
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 15m price change ratio
        explode: true
        in: query
        name: max_m15_price_change_ratio
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 15m buys
        explode: true
        in: query
        name: min_m15_buys
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 15m buys
        explode: true
        in: query
        name: max_m15_buys
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 15m sells
        explode: true
        in: query
        name: min_m15_sells
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 15m sells
        explode: true
        in: query
        name: max_m15_sells
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 15m trades
        explode: true
        in: query
        name: min_m15_trades
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 15m trades
        explode: true
        in: query
        name: max_m15_trades
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 15m buyers
        explode: true
        in: query
        name: min_m15_buyers
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 15m buyers
        explode: true
        in: query
        name: max_m15_buyers
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 15m sellers
        explode: true
        in: query
        name: min_m15_sellers
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 15m sellers
        explode: true
        in: query
        name: max_m15_sellers
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 15m buy volume in USD
        explode: true
        in: query
        name: min_m15_buy_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 15m buy volume in USD
        explode: true
        in: query
        name: max_m15_buy_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 15m sell volume in USD
        explode: true
        in: query
        name: min_m15_sell_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 15m sell volume in USD
        explode: true
        in: query
        name: max_m15_sell_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 5m volume in USD
        explode: true
        in: query
        name: min_m5_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 5m volume in USD
        explode: true
        in: query
        name: max_m5_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 5m price change ratio
        explode: true
        in: query
        name: min_m5_price_change_ratio
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 5m price change ratio
        explode: true
        in: query
        name: max_m5_price_change_ratio
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 5m buys
        explode: true
        in: query
        name: min_m5_buys
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 5m buys
        explode: true
        in: query
        name: max_m5_buys
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 5m sells
        explode: true
        in: query
        name: min_m5_sells
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 5m sells
        explode: true
        in: query
        name: max_m5_sells
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 5m trades
        explode: true
        in: query
        name: min_m5_trades
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 5m trades
        explode: true
        in: query
        name: max_m5_trades
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 5m buyers
        explode: true
        in: query
        name: min_m5_buyers
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 5m buyers
        explode: true
        in: query
        name: max_m5_buyers
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 5m sellers
        explode: true
        in: query
        name: min_m5_sellers
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 5m sellers
        explode: true
        in: query
        name: max_m5_sellers
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 5m buy volume in USD
        explode: true
        in: query
        name: min_m5_buy_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 5m buy volume in USD
        explode: true
        in: query
        name: max_m5_buy_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 5m sell volume in USD
        explode: true
        in: query
        name: min_m5_sell_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 5m sell volume in USD
        explode: true
        in: query
        name: max_m5_sell_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 1m volume in USD
        explode: true
        in: query
        name: min_m1_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 1m volume in USD
        explode: true
        in: query
        name: max_m1_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 1m price change ratio
        explode: true
        in: query
        name: min_m1_price_change_ratio
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 1m price change ratio
        explode: true
        in: query
        name: max_m1_price_change_ratio
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 1m buys
        explode: true
        in: query
        name: min_m1_buys
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 1m buys
        explode: true
        in: query
        name: max_m1_buys
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 1m sells
        explode: true
        in: query
        name: min_m1_sells
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 1m sells
        explode: true
        in: query
        name: max_m1_sells
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 1m trades
        explode: true
        in: query
        name: min_m1_trades
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 1m trades
        explode: true
        in: query
        name: max_m1_trades
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 1m buyers
        explode: true
        in: query
        name: min_m1_buyers
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 1m buyers
        explode: true
        in: query
        name: max_m1_buyers
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 1m sellers
        explode: true
        in: query
        name: min_m1_sellers
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 1m sellers
        explode: true
        in: query
        name: max_m1_sellers
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 1m buy volume in USD
        explode: true
        in: query
        name: min_m1_buy_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 1m buy volume in USD
        explode: true
        in: query
        name: max_m1_buy_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Minimum 1m sell volume in USD
        explode: true
        in: query
        name: min_m1_sell_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      - description: Maximum 1m sell volume in USD
        explode: true
        in: query
        name: max_m1_sell_volume_in_usd
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenListPage"
          description: ""
      security:
      - bearer: []
      summary: Token - List (Filtered)
      tags:
      - Token
  /v1/token/{chain}/{tokenAddress}/security:
    get:
      description: Get token security information
      operationId: get.security
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: An address of a token
        explode: false
        in: path
        name: tokenAddress
        required: true
        schema:
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: ""
      security:
      - bearer: []
      summary: Token - Security
      tags:
      - Token
  /v1/token/{chain}/dev/{devAddress}/tokens:
    get:
      description: Retrieve all tokens created by a specific developer address
      operationId: get.dev.tokens
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: Developer address
        explode: false
        in: path
        name: devAddress
        required: true
        schema:
          example: 3NUHqNG2Big2WxbYnaBzSNmxwE4NrxgckJuoiyGxu3Am
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/DevTokenDTO"
                type: array
          description: ""
      security:
      - bearer: []
      summary: Token - Get Dev Tokens
      tags:
      - Token
  /v1/token/{chain}/{tokenAddress}/traders/{tag}:
    get:
      description: "Retrieve traders for a token by tag (fresh, sandwish, bundle,\
        \ sniper, dev, pro, insider)"
      operationId: get.token.traders
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: An address of a token
        explode: false
        in: path
        name: tokenAddress
        required: true
        schema:
          example: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
          type: string
        style: simple
      - description: Token trader tag
        explode: false
        in: path
        name: tag
        required: true
        schema:
          $ref: "#/components/schemas/TokenTraderTag"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/TokenTrader"
                type: array
          description: ""
      security:
      - bearer: []
      summary: Token - Get Token Traders
      tags:
      - Token
  /v1/token/{chain}/{tokenAddress}/liquiditySnapshots:
    get:
      description: "Retrieve historical liquidity snapshots for a token. If a time\
        \ parameter is provided, returns the nearest snapshot before or at that time."
      operationId: get.token.liquidity.snapshots
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: An address of a token
        explode: false
        in: path
        name: tokenAddress
        required: true
        schema:
          example: 6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN
          type: string
        style: simple
      - description: Target Unix timestamp (seconds) for snapshot query. Returns the
          nearest snapshot before or at this time.
        explode: true
        in: query
        name: time
        required: false
        schema:
          example: 1705312800
          format: int64
          type: integer
        style: form
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          example: eyJpZCI6MTAwfQ==
          type: string
        style: form
      - description: Number of results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          example: 20
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenLiquiditySnapshotPage"
          description: ""
      security:
      - bearer: []
      summary: Token - Liquidity Snapshots
      tags:
      - Token
  /v1/dexpools/{chain}/{poolAddress}:
    get:
      description: Retrieve detailed information about a specific DEX pool
      operationId: get.dexpool
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: A pool address
        explode: false
        in: path
        name: poolAddress
        required: true
        schema:
          example: 58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DexPoolDTO"
          description: ""
      security:
      - bearer: []
      summary: DexPool - Detail
      tags:
      - DexPool
  /v1/dexpools/{chain}/{poolAddress}/snapshots:
    get:
      description: "Retrieve historical liquidity snapshots for a specific pool. If\
        \ a time parameter is provided, returns the nearest snapshot before or at\
        \ that time."
      operationId: get.dexpool.snapshots
      parameters:
      - description: A chain name listed in supported networks
        explode: false
        in: path
        name: chain
        required: true
        schema:
          $ref: "#/components/schemas/ChainSymbol"
        style: simple
      - description: A pool address
[...]
